{% extends 'baseAdmin.html.twig' %}

{% block body %}
<div class="card" style="margin: 50px">
  <div class="card-header">
  {% if type == 'add' %}
    Adicionar manual do usuário
  {% elseif type == 'update' %}
    Editar manual do usuário
  {% endif %}
    </div>
  <div class="card-body">
        {{ form_start(form,{'attr':{'class':'form-group', 'style':'padding-left: 20px; padding-right: 20px'}})}}
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class':'form-control'}}) }} 
              <br>    
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
            <br>
        
            {{ form_label(form.function) }}
            {{ form_widget(form.function, {'attr': {'class':'form-control'}}) }}
        
            <div class="row">
                <div class="col-md-6 mb-3">
                    <button class="btn btn-info mt-2 text-white">Enviar</button>
                </div>
            </div>
            
        {{ form_end(form)}}
  </div>
</div>
{% endblock %}