{% extends 'baseAdmin.html.twig' %}

{% block body %}
	<link href="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/css/tom-select.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/js/tom-select.complete.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"/>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

	<div class="container-fluid">
		{% if type == "list" %}
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">lista de Cliente</h6>
					<a class="btn btn-info mt-2 text-white" href="{{ path('add_client') }}">Adicionar Cliente</a>
					<br>
					<br>
					<input type="email" class="form-control" id="myInput" placeholder="Procurar..">
				</div>
				<div class="card-body">
					<div class="table-responsive">
						{% for m in list %}
							<div id="myTable" class="list-group" style="width: 100%;">
								<div class="row" style="width: 100%;">
									<a href="{{path('edit_client',{'id':m.id} )}}" class="list-group-item list-group-item-action flex-column align-items-start">
										<div class="d-flex w-100 justify-content-between">
											<medium>Nome :
												{{m.name}}</medium>
										</div>
										<div class="d-flex w-100 justify-content-between">
											<medium>CNPJ :
												{{m.cnpj}}</medium>
										</div>
										{% if m.street != null and m.number != null and m.district != null %}
											<div class="d-flex w-100 justify-content-between">
												<medium>Endereço :
													{{m.number}}
													{{m.street}}
													{{m.district}}</medium>
											</div>
										{% endif %}
										{% if m.resp != null %}
											<div class="d-flex w-100 justify-content-between">
												<medium>Nome Responsável :
													{{m.resp}}</medium>
											</div>
										{% endif %}
										{% if m.respEmail != null %}
											<div class="d-flex w-100 justify-content-between">
												<medium>Email Responsável :
													{{m.respEmail}}</medium>
											</div>
										{% endif %}
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% elseif type == "update" %}

			<div class="card" style="margin: 50px">
				<div class="card-header">
					Editar Cliente
				</div>
				<div class="card-header">

					<div class="card-body">
						<div class="d-flex w-100 justify-content-between">
							<medium>Nome :
								{{s.name}}</medium>
						</div>
						<div class="d-flex w-100 justify-content-between">
							<medium>CNPJ :
								{{s.cnpj}}</medium>
						</div>

						<br>
						{{ form_start(form,{'attr':{'class':'form-group', 'style':'padding-left: 20px; padding-right: 20px'}})}}
						
						{{ form_label(form.activation) }}
						{{ form_widget(form.activation, {'attr': {'class':'form-control'}}) }}
						
						{{ form_label(form.resp) }}
						{{ form_widget(form.resp, {'attr': {'class':'form-control'}}) }}

						{{ form_label(form.resp_email) }}
						{{ form_widget(form.resp_email, {'attr': {'class':'form-control'}}) }}

						<div class="row">
							<div class="col-md-6 mb-3">
								<button class="btn btn-info mt-2 text-white">Enviar</button>
							</div>
						</div>

						{{ form_end(form)}}
					</div>
				</div>
			{% elseif type == "create" %}

				<div class="card" style="margin: 50px">
					<div class="card-header">
						Adicionar Cliente
					</div>
					<div class="card-body">
							{{ form_start(form,{'attr':{'class':'form-group', 'style':'padding-left: 20px; padding-right: 20px'}})}}

							<div class="row">
								<div class="col-md-12">
									{{ form_label(form.name) }}
									{{ form_widget(form.name, {'attr': {'class':'form-control'}}) }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mb-3">
									{{ form_label(form.cnpj) }}
									{{ form_widget(form.cnpj, {'attr': {'class':'form-control'}}) }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mb-3">
									{{ form_label(form.resp) }}
									{{ form_widget(form.resp, {'attr': {'class':'form-control'}}) }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mb-3">
									{{ form_label(form.resp_email) }}
									{{ form_widget(form.resp_email, {'attr': {'class':'form-control'}}) }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 mb-3">
									<button class="btn btn-info mt-2 text-white">Enviar</button>
								</div>
							</div>

							{{ form_end(form)}}
					</div>
				{% endif %}

			</div>

			<script>


				$(document).ready(function () {

var selectElement = document.getElementById('client_activation');
{%if type == "update" %}
    if ({{ s.activation }} == 1) {
        selectElement.value = "1";
    } else {
        selectElement.value = "0";
    }
{% endif %}
$('#sector_Departemant').chosen({});
});
$(document).ready(function () {
$("#myInput").on("keyup", function () {

var value = $(this).val().toLowerCase();

$("#myTable a").filter(function () {
$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
});
});
			</script>
		{% endblock %}
