{% extends 'baseAdmin.html.twig' %}

{% block body %}
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/js/tom-select.complete.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">lista de empregadors</h6>
              <br>
              <br>
            <label for="exampleFormControlInput1">Procurar empregador</label>
            <input type="email" class="form-control" id="myInput" placeholder="Procurar..">

        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% for m in persons %}
                <div id="myTable" class="list-group" style="width: 100%;">
                    <div class="row" style="width: 100%;">
                        <a href="{{path('dp',{'id':m.id} )}}"
                            class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <medium>Nome: {{m.name}}</medium>
                            </div>
                            {% if m.email != null %}
                            <div class="d-flex w-100 justify-content-between">
                                <medium>Email: {{m.email ? m.email}}</medium>
                            </div>{% endif %}
                            <div class="d-flex w-100 justify-content-between">
                                <medium>última conexão: {{m.lastConnection}}</medium>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <medium>departamento: {{m.departemant}}</medium>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <medium>Função: {% if m.function == null %}
                                                    sem Função
                                                {% else %}
                                                    {{m.function.name}}
                                                {% endif %}
                                </medium>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <medium>Permissão:  {% if m.permission == null %}
                                                        sem permissão
                                                    {% else %}
                                                        {{m.permission}}
                                                    {% endif %}
                                </medium>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {

            var value = $(this).val().toLowerCase();
            
            $("#myTable a").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}