{% extends 'base.html.twig' %}


{% block body %}
	<link href="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/css/tom-select.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/js/tom-select.complete.min.js"></script>
	<div class="container" style="padding-left: 20px ;padding-right: 20px;">
		<!--div class="py-5 text-center">
			<img class="d-block mx-auto mb-4" src="{{ asset('assets/logo.png')}}" alt="" width="72" height="72">
			<h2>Controle de Mudança</h2>
			<br>
		</div-->
		<br>
		<br>
		<br>
	</div>
	{% if creation == 'null' %}
		{% if mud is empty %}
			{% if person.permission == 'ler' %}
				<ul class="list-group">
					<li class="list-group-item d-flex justify-content-between align-items-right">
						<span>você não tem permissão para adicionar novas mudancas</span>
					</li>
				</ul>
			{% else %}
				<ul class="list-group">
					<li class="list-group-item d-flex justify-content-between align-items-right">
						<a href="{{path('cm')}}">Adicionar novo Mudança</a>
					</li>
				</ul>
			{% endif %}
		{% else %}

			<div class="form-group">
				<label for="exampleFormControlInput1">Procurar</label>
				<input type="email" class="form-control" id="myInput" placeholder="Procurar..">
			</div>

			{% if manager %}

				<div class="row">
					<div class="col-md-4 order-md-2 mb-4">
						<h4 class="d-flex justify-content-between align-items-center mb-3">
							<span class="text-muted">Seu notificação:
							</span>
							<span class="badge badge-secondary badge-pill"></span>
						</h4>
						<ul class="list-group mb-3 sticky-top">
							{% if ln == null %}
								você não tem notificação
							{% else %}
								{% for row in ln %}

									<li class="list-group-item d-flex justify-content-between lh-condensed">
										<a href="{{path('upm',{'id':row.id} )}}">
											<div>
												<h6 class="my-0">Nome do Mudança:
													{{row.nomeMudanca}}
												</h6>
												<small class="text-muted">Descrição breve:
													{{row.descImpacto}}
												</small>
											</div>
											<span class="text-muted"></span>
										</a>
									</li>

								{% endfor %}

							{% endif %}
						</ul>
					</div>

					<div class="col-md-8 order-md-1" style="padding-left: 0px;">
					{% endif %}
					{% for m in mud %}

						<div id="myTable" class="list-group">
							<a href="{{path('upm',{'id':m.id} )}}" class="list-group-item list-group-item-action flex-column align-items-start">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">Número da mudança:
										{{m.id}}</h5>
									<medium>Nome da mudança:
										{{m.nomeMudanca}}</medium>
								</div>
								<div class="d-flex w-100 justify-content-between">
									<p class="mb-1">Descrição da Mudança:
										{{m.descImpacto}}</p>
									<medium>Descrição do Impacto:
										{{m.descImpacto}}</medium>
								</div>
								<div class="d-flex w-100 justify-content-between">
									<medium>Área impactada:
									</medium>
									<medium></medium>
								</div>
							</a>
						</div>
					{% endfor %}
					{% if manager %}

					</div>

				</div>
			{% endif %}

		{% endif %}
	{% elseif creation == 'false' %}

		{{ form_start(form, {'attr':{'class':'form-group', 'id':'test'}}) }}
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.nomeMudanca) }}
				{{ form_widget(form.nomeMudanca,{'attr':{'class':'form-control' ,'id':'testnomeMudanca'}}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.descMudanca) }}
				{{ form_widget(form.descMudanca,{'attr':{'class':'form-control', 'rows': '4','id':'testdescMudanca'}}) }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 mb-3">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" onclick="validate()" id="nansen">
					<label class="form-check-label" for="flexCheckDefault">
						Existe em nasen
					</label>
				</div>
			</div>
		</div>

		<div class="row" id="nanseForm">
			<div class="col-md-12 mb-3">
				{{ form_label(form.nansenName) }}
				{{ form_widget(form.nansenName,{'attr':{'class':'form-control', 'rows': '4','id':'testnansenName'}}) }}
			</div>
			<div class="col-md-12 mb-3">
				{{ form_label(form.nansenNumber) }}
				{{ form_widget(form.nansenNumber,{'attr':{'class':'form-control', 'rows': '4' ,'id':'test'}}) }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.justif) }}
				{{ form_widget(form.justif,{'attr':{'class':'form-control','rows': '4' ,'id':'test'}}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.descImpacto) }}
				{{ form_widget(form.descImpacto,{'attr':{'class':'form-control', 'rows': '4','id':'test'}}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.descImpactoArea) }}
				{{ form_widget(form.descImpactoArea,{'attr':{'class':'form-control', 'rows': '4','id':'test'}}) }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.areaImpact) }}
				{{ form_widget(form.areaImpact) }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.areaResp) }}
				{{ form_widget(form.areaResp,{'attr':{'class':'form-control','id':'test'}}) }}
			</div>
		</div>
		{% if gestor %}
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.mangerMudancas) }}
					{{ form_widget(form.mangerMudancas,{'attr':{'class':'form-control','id':'testman'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.startMudancas) }}
					{{ form_widget(form.startMudancas,{'attr':{'class':'form-control'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.endMudancas) }}
					{{ form_widget(form.endMudancas,{'attr':{'class':'form-control'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.effictiveStartDate) }}
					{{ form_widget(form.effictiveStartDate,{'attr':{'class':'form-control'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.cost) }}
					{{ form_widget(form.cost,{'attr':{'class':'form-control'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.implemented) }}
					{{ form_widget(form.implemented,{'attr':{'class':'form-control'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.impDesc) }}
					{{ form_widget(form.impDesc,{'attr':{'class':'form-control'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.appGest) }}
					{{ form_widget(form.appGest,{'attr':{'class':'form-control'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.comGest) }}
					{{ form_widget(form.comGest,{'attr':{'class':'form-control'}}) }}
				</div>
			</div>
		{% elseif gestor == false and manager %}
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.mangerMudancas) }}
					{{ form_widget(form.mangerMudancas,{'attr':{'class':'form-control'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.appMan) }}
					{{ form_widget(form.appMan,{'attr':{'class':'form-control'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.comMan) }}
					{{ form_widget(form.comMan,{'attr':{'class':'form-control'}}) }}
				</div>
			</div>


		{% endif %}

		<div class="row">
			<div class="col-md-1 mb-3">
				<a class="btn btn-info mt-2 text-white" href="{{path('flow',{'id':m.id} )}}">
					Verifique a situação em outro departamento
				</a>
			</div>
		</div>
	

        {% if (process != 'approved' and process != 'rejected') or ( process == 'approved' and  comments|length == 0 ) or (m.mangerMudancas.name == person.name)%}           
		    <div class="row">
			    <div class="col-md-6 mb-3">
				    <button 
						class="btn btn-info mt-2 text-white" 
						style="background-color: #0c2c01;
							border-color: #0c2c01;">Atualizar</button>
			    </div>
		    </div>
        {% else %}
            
        {% endif %}
		{{ form_end(form) }}

	{% else %}
		{{ form_start(form, {'attr':{'class':'form-group'}}) }}
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.nomeMudanca) }}
				{{ form_widget(form.nomeMudanca,{'attr':{'class':'form-control'}}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.descMudanca) }}
				{{ form_widget(form.descMudanca,{'attr':{'class':'form-control', 'rows': '4'}}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-3">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" onclick="validate()" id="nansen">
					<label class="form-check-label" for="flexCheckDefault">
						Existe em nasen
					</label>
				</div>
			</div>
		</div>
		<div class="row" id="nanseForm">
			<div class="col-md-12 mb-3">
				{{ form_label(form.nansenName) }}
				{{ form_widget(form.nansenName,{'attr':{'class':'form-control', 'rows': '4'}}) }}
			</div>
			<div class="col-md-12 mb-3">
				{{ form_label(form.nansenNumber) }}
				{{ form_widget(form.nansenNumber,{'attr':{'class':'form-control', 'rows': '4'}}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.justif) }}
				{{ form_widget(form.justif,{'attr':{'class':'form-control','rows': '4'}}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.descImpacto) }}
				{{ form_widget(form.descImpacto,{'attr':{'class':'form-control', 'rows': '4'}}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.descImpactoArea) }}
				{{ form_widget(form.descImpactoArea,{'attr':{'class':'form-control', 'rows': '4'}}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.areaImpact) }}
				{{ form_widget(form.areaImpact) }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.areaResp) }}
				{{ form_widget(form.areaResp,{'attr':{'class':'form-control'}}) }}
			</div>
		</div>


		{% if person.permission == 'ler criar atualização' or person.permission =='ler criar' or person.permission =='tudo' %}

			<div class="row">
				<div class="col-md-6 mb-3">
					<button class="btn btn-info mt-2 text-white" style="
																	    background-color: #0c2c01;
																	    border-color: #0c2c01;">Adicionar</button>
				</div>
			</div>
		{% endif %}
		{{ form_end(form) }}
	{% endif %}
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script>
{% if  creation == 'false' %}	
	{% if m.comMan == null %}

	{% elseif m.comMan != null and m.comGest == null %}
	var form = document.getElementById("test");
		var elements = form.elements;
		for (var i = 0, len =10; i < len; ++i) {
			console.log(elements[i]);
    		elements[i].readOnly = true;
		}
	{% else %}
		var form = document.getElementById("test");
		var elements = form.elements;
		for (var i = 0, len = 9; i < len; ++i) {
			console.log(elements[i]);
    		elements[i].readOnly = true;
		}
	{% endif %}
{% endif %}



		{% if manager and(gestor == false) %}

$(document).ready(function () {
const box = document.getElementById('nanseForm');
if (document.getElementById('mudancas_manager_nansenName').value == '') {
document.getElementById("nansen").checked = false;
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
} else {
document.getElementById("nansen").checked = true;
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
}
});

function validate() {
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
document.getElementById('mudancas_manager_nansenName').value = '';
document.getElementById('mudancas_manager_nansenNumber').value = '';
box.style.display = 'none';
}
}
new TomSelect("#mudancas_manager_areaImpact", {maxItems: 9});

{% elseif gestor %}

$(document).ready(function () {
const box = document.getElementById('nanseForm');
if (document.getElementById('mudancasgestor_nansenName').value == '') {
document.getElementById("nansen").checked = false;
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
} else {
document.getElementById("nansen").checked = true;
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
}
});

function validate() {
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
document.getElementById('mudancasgestor_nansenName').value = '';
document.getElementById('mudancasgestor_nansenNumber').value = '';
box.style.display = 'none';
}
}
new TomSelect("#mudancasgestor_areaImpact", {maxItems: 9});

{% else %}

$(document).ready(function () {

const box = document.getElementById('nanseForm');
if (document.getElementById('mudancas_nansenName').value == '') {
document.getElementById("nansen").checked = false;
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
} else {
document.getElementById("nansen").checked = true;
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
}
});
function validate() {
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
document.getElementById('mudancas_nansenName').value = '';
document.getElementById('mudancas_nansenNumber').value = '';
box.style.display = 'none';
}
}
new TomSelect("#mudancas_areaImpact", {maxItems: 9});{% endif %}$(document).ready(function () {
$('#product_client').chosen({});


$("#myInput").on("keyup", function () {
var value = $(this).val().toLowerCase();
$("#myTable a").filter(function () {
$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
});
});

function emailChecker() {
swal({title: "Tome cuidado ?", text: "Mudancas adicionado pelo Empregador não tinha Email!", icon: "warning", buttons: true});
}

	</script>
{% endblock %}
