{% extends 'base.html.twig' %}


{% block body %}
	<link href="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/css/tom-select.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/js/tom-select.complete.min.js"></script>
	<div class="container" style="padding-left: 20px ;padding-right: 20px;">


	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 100%;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Nome de mudanças :
			{{mud.nomeMudanca}}</h1>
		Descrição das mudanças:
		{{mud.descMudanca}}
		<ul>
			<li>Descrição das mudanças na área impactada :
				<br><code style=" color: #007a7e;">
					{{mud.descImpactoArea}}
				</code>
			</li>
			<li>
				Area impactada :
				<br>

				{% for item in mud.areaImpact %}
					<code style="color: #007a7e;">
						{{item.name}}<br>
					</code>
				{% endfor %}
			</li>
		</ul>
	</div>
	
		{{ form_start(form, {'attr':{'class':'form-group'}}) }}
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.managerUserComment) }}
				{{ form_widget(form.managerUserComment,{'attr':{'class':'form-control'}}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(form.managerUserApp) }}
				{{ form_widget(form.managerUserApp,{'attr':{'class':'form-control', 'rows': '4'}}) }}
			</div>
		</div>
		<div class="row">
						<div class="col-md-6 mb-3">
							<button id="btn" class="	btn btn-info mt-2 text-white" style="
																	background-color: #0c2c01;
																	border-color: #0c2c01;">Adicionar</button>
						</div>
		</div>
		{{ form_end(form) }}
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script>
	</script>
{% endblock %}
