{% extends 'base.html.twig' %}


{% block body %}
	<link href="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/css/tom-select.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/js/tom-select.complete.min.js"></script>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">


	<div class="container" style="padding-left: 20px ;padding-right: 20px;">


		{% if creation == 'null' %}
			{% if manager %}
				<link href="{{ asset('admin/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
				<div class="py-5 text-center">
					<div class="row">
						<div class="col-xl-6 col-md-6 mb-4">
							<div class="card border-left-info shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Porcentagem de mudanças de acabamento
											</div>
											<div class="row no-gutters align-items-center">
												<div class="col-auto">
													<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{percent}}%</div>
												</div>
												<div class="col">
													<div class="progress progress-sm mr-2">
														<div class="progress-bar bg-info" role="progressbar" style="width: {{percent}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-6 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
												Número de mudanças</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">{{size}}</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-calendar fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% else %}

			<br>
			<br>
			<br>
		{% endif %}
	</div>
	{% if creation == 'null' %}
		{% if mud is empty %}
			{% if person.permission == 'ler' %}

				<br>
				<br>
				<br>
				<ul class="list-group">
					<li class="list-group-item d-flex justify-content-between align-items-right">
						<span>você não tem permissão para adicionar novas mudancas</span>
					</li>
				</ul>
			{% else %}
				<ul class="list-group">
					<li class="list-group-item d-flex justify-content-between align-items-right">
						<a href="{{path('cm')}}">Adicionar novo Mudança</a>
					</li>
				</ul>
				<span>Não há dados relacionados com o seu setor ou não há mudancas abertas</span>
			{% endif %}
		{% else %}
			<br>
			<div class="form-group">
				<input type="email" class="form-control" id="myInput" placeholder="Procurar..">
			</div>

			{% if manager %}
				<div class="row">
					<div class="col-md-4 order-md-2 mb-4">
						<h4 class="d-flex justify-content-between align-items-center mb-3">
							<span class="text-muted">Pendências	:
							</span>
							<span class="badge badge-secondary badge-pill"></span>
						</h4>
						<ul class="list-group mb-3 sticky-top">
							{% if ln == null %}
								você não tem notificação
							{% else %}
								{% for row in ln %}

									<li class="list-group-item d-flex justify-content-between lh-condensed">
										<a href="#">
											<div>
												<h5 class="mb-1">Número da mudança:
													{{m.id}}</h5>
												<h6 class="my-0">Nome do Mudança:
													{{row.nomeMudanca}}
												</h6>
											</a>
										</li>
									{% endfor %}

								{% endif %}
							</ul>
						</div>

						<div class="col-md-8 order-md-1" style="padding-left: 0px;">
						{% endif %}
						{% for m in mud %}
							<div id="myTable" class="list-group">
								<a href="{{path('upm',{id: m.id})}}" class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">Número da mudança:
											{{m.id}}</h5>
										<medium>Nome da mudança:
											{{m.nomeMudanca}}</medium>
									</div>
								</a>
							</div>
						{% endfor %}
						{% if manager %}

						</div>

					</div>
				{% endif %}

			{% endif %}
		{% elseif creation == 'false' %}

			{{ form_start(form, {'attr':{'class':'form-group', 'id':'test'}}) }}
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.nomeMudanca) }}
					{{ form_widget(form.nomeMudanca,{'attr':{'class':'form-control' ,'id':'testnomeMudanca'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.descMudanca) }}
					{{ form_widget(form.descMudanca,{'attr':{'class':'form-control', 'rows': '4','id':'testdescMudanca'}}) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 mb-3">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" onclick="validate()" id="nansen">
						<label class="form-check-label" for="flexCheckDefault">
							Existe Projeto Nansen
						</label>
					</div>
				</div>
			</div>

			<div class="row" id="nanseForm">
				<div class="col-md-12 mb-3">
					{{ form_label(form.nansenName) }}
					{{ form_widget(form.nansenName,{'attr':{'class':'form-control', 'rows': '4','id':'testnansenName'}}) }}
				</div>
				<div class="col-md-12 mb-3">
					{{ form_label(form.nansenNumber) }}
					{{ form_widget(form.nansenNumber,{'attr':{'class':'form-control', 'rows': '4' ,'id':'test'}}) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.justif) }}
					{{ form_widget(form.justif,{'attr':{'class':'form-control','rows': '4' ,'id':'test'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.descImpacto) }}
					{{ form_widget(form.descImpacto,{'attr':{'class':'form-control', 'rows': '4','id':'test'}}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					{{ form_label(form.descImpactoArea) }}
					{{ form_widget(form.descImpactoArea,{'attr':{'class':'form-control', 'rows': '4','id':'test'}}) }}
				</div>
			</div>

			<div class="row" id="selectAreaImapct">
				<div class="col-md-12 mb-3">
					{{ form_label(form.areaImpact) }}
					{{ form_widget(form.areaImpact,{'attr':{
                'data-placeholder':'Escolha o setor.....', 'rows': '12'}}) }}
				</div>
			</div>

			<div class="row" id="selectAreaResp">
				<div class="col-md-12 mb-3">
					{{ form_label(form.areaResp) }}
					{{ form_widget(form.areaResp,{'attr':{'class':'form-control','id':'test' ,'rows': '12'}}) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 mb-3">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" onclick="vc()" id="vci">
						<label class="form-check-label" for="flexCheckDefault">
							Cliente será Impactado?
						</label>
					</div>
				</div>
			</div>

			<div class="row" id="vcg">
				<div class="col-md-12 mb-3">
					{{ form_label(form.client) }}
					{{ form_widget(form.client,{'attr':{'class':'form-control','data-placeholder':'Escolha o cliente.....','style':'width: 100%;', 'rows': '12'}}) }}
				</div>


				{% if creation == "false"  %}
					{% if  m.client %}
						{% if m.client.respEmail == null %}
							este cliente não tinha e-mail no banco de dados
						{% endif %}
					{% endif %}
				{% endif %}
				{% if gestor and cl != null and cl.mud.status %}
					{% if cl.mud.TokenData.comClt == null %}
						
					{% else %}
					{% endif %}
				{% endif %}
			</div>


			{% if gestor %}
				<div class="row" id="gestorMudancas">
					<div class="col-md-12 mb-3">
						{{ form_label(form.mangerMudancas) }}
						{{ form_widget(form.mangerMudancas,{'attr':{'class':'form-control','rows': '12','id':'testman'}}) }}
					</div>
				</div>

				{% if mangerOfAreaDidntApp == false %}
					<div class="row">
						<div class="col-md-12 mb-3">
							{{ form_label(form.appGest) }}
							{{ form_widget(form.appGest,{'attr':{'class':'form-control'}}) }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-3">
							{{ form_label(form.comGest) }}
							{{ form_widget(form.comGest,{'attr':{'class':'form-control'}}) }}
						</div>
					</div>
				{% endif %}
				
				<div class="row">
					<div class="col-md-12 mb-3">
						{{ form_label(form.startMudancas) }}
						{{ form_widget(form.startMudancas,{'attr':{'class':'date form-control','value': date1}}) }}  
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 mb-3">
						{{ form_label(form.endMudancas) }}
						{{ form_widget(form.endMudancas,{'attr':{'class':'date form-control','value': date2}}) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 mb-3">
						{{ form_label(form.effictiveStartDate) }}
						{{ form_widget(form.effictiveStartDate,{'attr':{'class':'date form-control','value': date3}}) }}
					</div>
				</div>
				{% if m.implemented == 1 or m.implemented == 2 %}
					<div class="row">
						<div class="col-md-12 mb-3">
							<label for="mudancasgestor_to_app_effictiveStartDate">Data implementada</label>
							<input type="text" class="form-control" value="{{m.dateOfImp}}">
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 mb-3">
							<label for="mudancasgestor_to_app_effictiveStartDate">Evidencia da implementação</label>
							<textarea type="text" class="form-control">{{m.impDesc}}</textarea>
						</div>
					</div>
				{% endif %}
				<div class="row">
					<div class="col-md-12 mb-3">
						{{ form_label(form.cost) }}
						{{ form_widget(form.cost,{'attr':{'class':'form-control'}}) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 mb-3">
						<img class="center card-img-top" src="{{ asset('assets/')}}{{m.id}}/{{m.photo}}" alt="" style="padding-top: 15px; width : 500px">
					</div>
					{% if m.pdf != null %}
						<div class="col-md-12 mb-3">
							<a class="btn btn-info mt-2 text-white" href="{{path('filed',{'id':m.id} )}}">
								⇬ Fazer download do arquivo
								{{m.namePdf}}
							</a>
						</div>
					{% endif %}
				</div>

			{% elseif gestor == false and manager %}
				<div class="row">
					<div class="col-md-12 mb-3">
						{{ form_label(form.mangerMudancas) }}
						{{ form_widget(form.mangerMudancas,{'attr':{'class':'form-control'}}) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 mb-3">
						{{ form_label(form.appMan) }}
						{{ form_widget(form.appMan,{'attr':{'class':'form-control'}}) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 mb-3">
						{{ form_label(form.comMan) }}
						{{ form_widget(form.comMan,{'attr':{'class':'form-control'}}) }}
					</div>
				</div>


			{% endif %}

			{% if gestor == false and m.startMudancas != null %}
				{% if manager == false %}
					<div class="row">

						<div class="col-md-12 mb-3">
							<label for="mudancas_descImpacto" class="required">Gestor da mudança</label>
							<p class='form-control'>{{m.mangerMudancas.name}}
							</p>
						</div>
					</div>
				{% endif %}

				<div class="row">
					<div class="col-md-12 mb-3">
						<label for="mudancas_descImpacto" class="required">Data estimada de Início</label>
						<input class='form-control' value="{{m.startMudancas}}"/>

					</div>
				</div>

				<div class="row">
					<div class="col-md-12 mb-3">
						<label for="mudancas_descImpacto" class="required">Data estimada de Termino</label>
						<p class='form-control'>{{m.endMudancas}}
						</p>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12 mb-3">
						<label for="mudancas_descImpacto" class="required">Data Efetiva de Início</label>
						<p class='form-control'>{{m.effictiveStartDate}}
						</p>
					</div>
				</div>
				{% if m.impDesc != null %}
				
				<div class="row">
					<div class="col-md-12 mb-3">
						<label for="mudancas_descImpacto" class="required">Evidencia de Implementação</label>
						<textarea class='form-control'>{{m.impDesc}}
						</textarea>
					</div>
				</div>
				{% endif %}


				{% if m.dateOfImp != null  %}
					
				<div class="row">
					<div class="col-md-12 mb-3">
						<label for="mudancas_descImpacto" class="required">Data Implementada</label>
						<p class='form-control'>{{m.dateOfImp}}
						</p>
					</div>
				</div>
				{% endif %}

				<div class="col-md-12 mb-3">
					<img class="center card-img-top" src="{{ asset('assets/')}}{{m.id}}/{{m.photo}}" alt="" style="padding-top: 15px; width : 500px">
				</div>

				{% if m.pdf != null %}
					<div class="col-md-12 mb-3">
						<a class="btn btn-info mt-2 text-white" href="{{path('filed',{'id':m.id} )}}">
							⇬ Fazer download do arquivo
							{{m.namePdf}}
						</a>
					</div>
				{% endif %}
			{% endif %}


			<div class="row">
				<div class="col-md-1 mb-3">
					<a class="btn btn-info mt-2 text-white" href="{{path('flow',{'id':m.id} )}}">
						Verificar Aprovações
					</a>
				</div>
			</div>


			{% if person.permission == 'ler criar atualização' or person.permission =='tudo' %}
				{% if m.implemented == null and m.done == 'Feito' %}
					<p class="btn btn-info mt-2 text-white">{{m.done }}</p>

				{% elseif m.implemented == 1 and  m.done == 'Feito' %}
					<p class="btn btn-info mt-2 text-white">Mudança Implementada</p>
					<p>
					{% elseif  m.implemented == 2 and m.done == 'Feito' %}
						<p class="btn btn-info mt-2 text-white" data-toggle="modal" data-target="#imp2">Mudança não implementada</p>
						<p>
							<div class="modal fade" id="imp2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row" style="margin-right: 12px; margin-left: 5px;">
												<div class="col-md-12 mb-3">
													<h6 class="mb-1">Número da mudança:
														{{m.id}}
													</h6>
												</div>
												<div class="col-md-12 mb-3">
													<h6 class="mb-1">Nome da mudança:
														{{m.nomeMudanca}}</h5>
												</div>

												<div class="col-md-12 mb-3">
													<h6 class="mb-1">Evidencia de Implementação:
														{{m.impDesc}}</h5>
												</div>
											</div>

										</div>
									</div>
								</div>
								{% elseif m.implemented != 1 and  m.implemented != 2 and m.done != 'Feito' %}

							{% endif %}

							{% if m.done != 'Feito' %}
								{% if  manager == true and gestor == false %}
									{% if  m.mangerMudancas == null %}
										<div class="row">
											<div class="col-md-6 mb-3">
												<button class="btn btn-info mt-2 text-white" style="background-color: #0c2c01; border-color: #0c2c01;">Atualizar</button>
											</div>
										</div>
									{% elseif  m.comGest == null %}
										<div class="row">
											<div class="col-md-6 mb-3">
												<button class="btn btn-info mt-2 text-white" style="background-color: #0c2c01; border-color: #0c2c01;">Atualizar</button>
											</div>
										</div>
									{% endif %}
								{% elseif gestor %}
									<div class="row">
										<div class="col-md-6 mb-3">
											<button class="btn btn-info mt-2 text-white" style="background-color: #0c2c01; border-color: #0c2c01;">Atualizar</button>
											{{m.done }}
										</div>
									</div>
								{% endif %}
							{% elseif m.done == 'Feito' and  m.implemented == null %}
								{% if gestor %}
									{% if m.implemented != 1 and m.implemented != 2%}
										<br>
										<a class="btn btn-info mt-2 text-white" data-toggle="modal" data-target="#imp">Implementação</a>
									{% endif %}
								{% endif %}
							{% endif %}
						{% endif %}
						{{ form_end(form) }}

					{% else %}
						{{ form_start(form, {'attr':{'class':'form-group'}}) }}
						<div class="row">
							<div class="col-md-12 mb-3">
								{{ form_label(form.nomeMudanca) }}
								{{ form_widget(form.nomeMudanca,{'attr':{'class':'form-control'}}) }}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-3">
								{{ form_label(form.descMudanca) }}
								{{ form_widget(form.descMudanca,{'attr':{'class':'form-control', 'rows': '4'}}) }}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" onclick="validate()" id="nansen">
									<label class="form-check-label" for="flexCheckDefault">
										Existe Projeto Nansen
									</label>
								</div>
							</div>
						</div>
						<div class="row" id="nanseForm">
							<div class="col-md-12 mb-3">
								{{ form_label(form.nansenName) }}
								{{ form_widget(form.nansenName,{'attr':{'class':'form-control', 'rows': '4'}}) }}
							</div>
							<div class="col-md-12 mb-3">
								{{ form_label(form.nansenNumber) }}
								{{ form_widget(form.nansenNumber,{'attr':{'class':'form-control', 'rows': '4'}}) }}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-3">
								{{ form_label(form.justif) }}
								{{ form_widget(form.justif,{'attr':{'class':'form-control','rows': '4'}}) }}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-3">
								{{ form_label(form.descImpacto) }}
								{{ form_widget(form.descImpacto,{'attr':{'class':'form-control', 'rows': '4'}}) }}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-3">
								{{ form_label(form.descImpactoArea) }}
								{{ form_widget(form.descImpactoArea,{'attr':{'class':'form-control',
               															 'data-placeholder':'Choose a country...', 'rows': '4'}}) }}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-3">
								{{ form_label(form.areaImpact) }}
								{{ form_widget(form.areaImpact,{'attr':{'class':'form-control',
               															 'data-placeholder':'Escolha o setor.....', 'rows': '12'}}) }}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-3">
								{{ form_label(form.areaResp) }}
								{{ form_widget(form.areaResp,{'attr':{'class':'form-control', 'rows': '12'}}) }}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" onclick="vc()" id="vci">
									<label class="form-check-label" for="flexCheckDefault">
										Cliente será Impactado?
									</label>
								</div>
							</div>
						</div>
						<div class="row" id="vcg">
							<div class="col-md-12 mb-3">
								{{ form_label(form.client) }}
								{{ form_widget(form.client,{'attr':{'class':'form-control','data-placeholder':'Escolha o cliente.....','style':'width: 100%;', 'rows': '12'}}) }}
							</div>
							{% if creation == "false"  %}
								<div class="col-md-12 mb-3">
									{{ form_label(form.descClient) }}
									{{ form_widget(form.descClient,{'attr':{'class':'form-control', 'rows': '4'}}) }}
								</div>
								{% if  m.client %}
									{% if m.client.respEmail == null %}
										este cliente não tinha e-mail no banco de dados
									{% endif %}
								{% endif %}
							{% endif %}

						</div>

						{% if person.permission == 'ler criar atualização' or person.permission =='ler criar' or person.permission =='tudo' %}
							<div class="row">
								<div class="col-md-6 mb-3">
									<button id="btn" class="	btn btn-info mt-2 text-white" style="background-color: #0c2c01;border-color: #0c2c01;">Adicionar</button>
								</div>
							</div>
						{% endif %}
						{{ form_end(form) }}
				{% endif %}


				<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>

<script>
 $(".date").datepicker({
        format: "dd-mm-yyyy",language: "pt-BR",
});
					const box = document.getElementById('vcg');
function vc() {
if (document.getElementById('vci').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
}
$(document).ready(function () {

					const box = document.getElementById('vcg');

$('#mudancas_client').chosen({});
$('#mudancasgestor_client').chosen({});
$('#mudancasgestor2_areaImpact').chosen({});
$('#mudancasgestor_to_app_client').chosen({});
$('#mudancasgestor_to_app_areaImpact').chosen({});{% if creation != 'true' %}{% if m.client == null %}document.getElementById("vci").checked = false;
{% else %}

document.getElementById("vci").checked = true;{% endif %}{% endif %}if (document.getElementById('vci').checked) {
console.log('tes');
box.style.display = 'block';
} else {

console.log('tes2');
box.style.display = 'none';
}

});{% if gestor %}$(document).ready(function () {
const box = document.getElementById('nanseForm');
if (document.getElementById('mudancasgestor_to_app_nansenName').value == '') {
document.getElementById("nansen").checked = false;
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}


} else {
document.getElementById("nansen").checked = true;
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
}
});{% endif %}{% if gestor != true and manager != true %}$(document).ready(function () {
$('#mudancasgestor_to_app_areaImpact').chosen({});
});
$(document).ready(function () {
$('#mudancas_areaImpact').chosen({});
});
$(document).ready(function () {
$('#mudancas_areaResp').chosen({});
});

{% elseif gestor != true and manager == true %}
$(document).ready(function () {
$('#mudancas_manager_areaImpact').chosen({});
});
$(document).ready(function () {
$('#mudancas_manager_areaResp').chosen({});
});
$(document).ready(function () {
$('#mudancas_manager_mangerMudancas').chosen({});
});


$(document).ready(function () {
$('#mudancas_manager_client').chosen({});
});

{% elseif mangerOfAreaDidntApp == true %}


{% else %}
$(document).ready(function () {
$('#mudancasgestor_to_app_areaImpact').chosen({});
});
$(document).ready(function () {
$('#mudancasgestor_to_app_areaResp').chosen({});
});


$(document).ready(function () {
$('#mudancasgestor_to_app_client').chosen({});
});

$(document).ready(function () {
$('#mudancasgestor_to_app_mangerMudancas').chosen({});
});{% endif %}{% if gestor != true and manager == true %}

/*mudancas_manager_client*/
const mudancas_manager_comMan = document.getElementById('mudancas_manager_comMan');
mudancas_manager_comMan.disabled = true;{% if  m.mangerMudancas != null %}const mudancas_manager_mangerMudancas = document.getElementById('mudancas_manager_mangerMudancas');
mudancas_manager_mangerMudancas.disabled = true;
const mudancas_manager_appMan = document.getElementById('mudancas_manager_appMan');
mudancas_manager_appMan.disabled = true;
mudancas_manager_comMan.disabled = true;{% endif %}{% if  m.comGest == null %}mudancas_manager_mangerMudancas.disabled = false;
mudancas_manager_appMan.disabled = false;
mudancas_manager_comMan.disabled = false;{% endif %}{% endif %}{% if  creation == 'false' %}{% if m.comMan == null %}
{% elseif m.comMan != null and m.comGest == null %}
var form = document.getElementById("test");
var elements = form.elements;
for (var i = 0, len = 10; i < len; ++ i) {
elements[i].readOnly = true;
}
{% else %}
var form = document.getElementById("test");
var elements = form.elements;
for (var i = 0, len = 9; i < len; ++ i) {
elements[i].readOnly = true;
}
{% endif %}
{% if gestor %}
var nodes = document.getElementById("selectAreaResp").getElementsByTagName('*');
for (var i = 0; i < nodes.length; i++) {
nodes[i].disabled = true;
}


var nodes = document.getElementById("gestorMudancas").getElementsByTagName('*');
for (var i = 0; i < nodes.length; i++) {
nodes[i].disabled = true;
}
{% endif %}

{% endif %}

{% if manager and(gestor == false) %}

$(document).ready(function () {
const box = document.getElementById('nanseForm');
if (document.getElementById('mudancas_manager_nansenName').value == '') {
document.getElementById("nansen").checked = false;
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
} else {
document.getElementById("nansen").checked = true;
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
}
});

function validate() {
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
document.getElementById('mudancas_manager_nansenName').value = '';
document.getElementById('mudancas_manager_nansenNumber').value = '';
box.style.display = 'none';
}
}

{% elseif gestor %}
$(document).ready(function () {
const box = document.getElementById('nanseForm');
if (document.getElementById('mudancasgestor_nansenName').value == '') {
document.getElementById("nansen").checked = false;
const box = document.getElementById('nanseForm');

if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
} else {
document.getElementById("nansen").checked = true;
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
}
});

function validate() {
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
}

new TomSelect("#mudancasgestor_areaImpact", {maxItems: 36});
{% else %}
$(document).ready(function () {
const box = document.getElementById('nanseForm');
if (document.getElementById('mudancas_nansenName').value == '') {
document.getElementById("nansen").checked = false;
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
} else {
document.getElementById("nansen").checked = true;
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
box.style.display = 'none';
}
}
});

function validate() {
const box = document.getElementById('nanseForm');
if (document.getElementById('nansen').checked) {
box.style.display = 'block';
} else {
document.getElementById('mudancas_nansenName').value = '';
document.getElementById('mudancas_nansenNumber').value = '';
box.style.display = 'none';
}
}
{% endif %}
				</script>


				{% if gestor and mangerOfAreaDidntApp == false %}

					<div class="modal fade" id="imp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h2>Implementação</h2<buttontype="button"class="close"data-dismiss="modal"aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>

							</div>
							<div class="modal-body">
								{{ form_start(formImp, {'attr':{'class':'form-group'}}) }}
								<div class="row" style="margin-right: 12px; margin-left: 5px;">
									<div class="col-md-12 mb-3">
										{{ form_label(formImp.implemented) }}
										{{ form_widget(formImp.implemented,{'attr':{'class':'form-control'}}) }}</div>
									<div class="col-md-12 mb-3">
										{{ form_label(formImp.impDesc) }}
										{{ form_widget(formImp.impDesc,{'attr':{'class':'form-control'}}) }}
									</div>
									<div class="col-md-12 mb-3">
										{{ form_label(formImp.photo) }}
										{{ form_widget(formImp.photo,{'attr':{'class':'', 'rows': '4'}}) }}
									</div>
									<div class="col-md-12 mb-3">
										{{ form_label(formImp.pdf) }}
										{{ form_widget(formImp.pdf,{'attr':{'class':'', 'rows': '4'}}) }}
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-info mt-2 text-white btn-secondary" data-dismiss="modal">Cancelar</button>

										<input class="btn btn-info mt-2 text-white" value="Validar" type="submit"/>


									</div>
									{{ form_end(form) }}
								</div>
							</div>

							<script>
								const textarea = document.getElementById("textarea");
const hiddenInput = document.getElementById("hiddenInput");
const hiddenInput2 = document.getElementById("hiddenInput2");

textarea.addEventListener("input", function () {
hiddenInput.value = textarea.value;
hiddenInput2.value = textarea.value;
});

							</script>

						</div>
					{% endif %}


				{% endblock %}
