{% extends 'base.html.twig' %}


{% block body %}
	<link href="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/css/tom-select.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/js/tom-select.complete.min.js"></script>
	<div class="container" style="padding-left: 20px ;padding-right: 20px;">
		<div class="py-5 text-center">
			<img class="d-block mx-auto mb-4" src="{{ asset('serdia_logo.png')}}" alt="" width="300" height="72"/>
			<br>
			<p>Nome de mudanças:
					{{mud.nomeMudanca}}</p>
				<p>Número de mudanças:
					{{mud.id}}</p>
				{% if mud.nansenNumber != null %}
					<p>Nome do mudanças na Nansen :<br>
						{{mud.nansenName}}</p>
					<p>Codigo do mudanças na Nansen :<br>
						{{mud.nansenNumber}}</p>
				{% endif %}

				<p>Descrição da Mudança :<br>
					{{mud.descMudanca}}</p>
		</div>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Tipo de Aprovação</th>
					<th scope="col">Área/Cliente</th>
					<th scope="col">Nome do Aprovador</th>
					<th scope="col">Data da Aprovação</th>
					<th scope="col">Status Aprovação</th>
					<th scope="col">Comentário</th>
				</tr>
			</thead>


			<tbody>
				<tr>
					<th scope="row">Solicitante</th>
					<td>
						{% if mud.addBy.name != null %}
							{{mud.addBy.departemant}}
						{% endif %}
					</td>
					<td>
						{% if mud.addBy != null %}
							{{mud.addBy.name}}
						{% endif %}
					</td>
					<td>
						{% if mud.dataCreation != null %}
							{{mud.dataCreation}}
							{% else %}
							Nenhuma data disponível
						{% endif %}
					</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th scope="row">Gerente Solicitante</th>
					<td>
						{% if mud.managerUserAdd != null and mud.nansenNumber == null %}
							{{mud.managerUserAdd.departemant}}
							{% else %}

						{% endif %}
					</td>
					<td>
						{% if mud.managerUserAdd != null and mud.nansenNumber == null %}
							{{mud.managerUserAdd.name}}
						{% else %}
							Projeto Nansen
						{% endif %}
					</td>
					<td>
						{% if mud.managerUserAdd != null and mud.nansenNumber == null %} 
							{% if mud.dateMUA != null  %}	
								{{ mud.dateMUA|date('d-m-Y') }}
							{% else %}
								Nenhuma data disponível
							{% endif %}
						{% else %}
							{{mud.dataCreation}}
						{% endif %}
					</td>
					<td>
						{% if mud.managerUserApp != null  %}
							{% if mud.managerUserApp == 1 and  mud.managerUserAdd != mud.addBy and  mud.managerUserAdd != null %}
								Aprovado
								{% elseif  mud.managerUserApp == 1 and   mud.managerUserAdd == mud.addBy  or  mud.managerUserAdd == null %}
								Aprovação automática
							{% elseif mud.managerUserApp == 2 %}
								Rejeitado
							{% endif %}
						{% else %}
							Não verificado
						{% endif %}
					</td>
					<td>
						{% if mud.managerUserComment != null %}
							{{mud.managerUserComment}}
						{% else %}
							Sem comentário
						{% endif %}
					</td>
				</tr>
				<tr>
					<th scope="row">Gerente Aprovação</th>
					{% if p == null %}
						<td>Não verificado</td>
						<td>Não verificado</td>
					{% else %}
						<td>{{mud.areaResp.name}}</td>
						<td>{{mud.areaResp.manager.name}}</td>
					{% endif %}

							<td>{% if mud.dateAM != null  %}	
								{{ mud.dateAM|date('d-m-Y') }}
								{% elseif mud.dateAM == null and mud.appMan != null %}
								Nenhuma data Informada
							{% else %}
							Nenhuma data disponível
							{% endif %}
							</td>
					{% if mud.appMan == 1 %}
						<td>Aprovado</td>
					{% elseif mud.appMan == 2  %}
						<td>Rejeitado</td>
					{% elseif  mud.appMan == null  %}
						<td>Não verificado</td>
					{% endif %}


					{% if mud.comMan != null %}
						<td>{{mud.comMan}}</td>
					{%  else %}
						<td>
							Sem comentário</td>
					{% endif %}
				</tr>
				<tr>
					<th scope="row">Gestor da Mudança</th>
					{% if mud.mangerMudancas == null %}
						<td>Não verificado</td>
						<td>Não verificado</td>
					{% else %}
						<td>{{mud.mangerMudancas.departemant}}</td>
						<td>{{mud.mangerMudancas.name}}</td>
					{% endif %}
							<td>{% if mud.dateAG != null  %}	
								{{ mud.dateAG|date('d-m-Y') }}
								{% elseif mud.dateAG == null and mud.appGest != null %}
								Nenhuma data Informada
							{% else %}
							Nenhuma data disponível
							{% endif %}
							</td>
					{% if mud.appGest == null %}
						<td>Não verificado</td>
					{% elseif mud.appGest == 1 %}
						<td>Aprovado</td>
					{% elseif mud.appGest == 2 %}
						<td>Rejeitado</td>
					{% endif %}

					{% if mud.appGest == null %}
						<td>
							Sem comentário</td>
					{% else %}
						<td>{{mud.comGest}}</td>
					{% endif %}
				</tr>

				{% for key, m in data %}
					<tr>
						<th scope="row">Área Impactada</th>
						<td>{{m.name}}</td>
						<td>{{data2[key].name }}</td>
						<td>
						{% if m.data_creation!= null  %}
							{{ m.data_creation|date('d-m-Y') }}

							
								{% elseif mud.data_creation == null and mud.app_sector_man != null %}
								Nenhuma data Informada
							{% else %}

							Nenhuma data disponível
							{% endif %}
						</td>
						{% if  m.app_sector_man  == 1  %}
							<td>Aprovado</td>
						{% elseif m.app_sector_man == 2 and  m.comment != null %}
							<td>Rejeitado</td>
						{% elseif m.app_sector_man == null   %}
							<td>Não verificado</td>
						{% endif %}


						{% if m.comment == null %}
							<td>
								Sem comentário</td>
						{% else %}
							<td>{{m.comment}}</td>
						{% endif %}
					</tr>

				{% endfor %}


				{% if client != null and mud.client != null  %}
					<tr>
						<th scope="row">Aprovação do Cliente</th>

						<td>{{mud.client.name}}</td>
						<td>{{mud.client.Resp}}</td>
						
							<td>
							</td>
						{% if  client.mud.TokenData.appClt  == 1  %}
							<td>Aprovado</td>
						{% elseif client.mud.TokenData.appClt == 2 %}
							<td>Rejeitado</td>
						{% elseif client.mud.TokenData.appClt == null   %}
							<td>Não verificado</td>
						{% endif %}

						{% if client.mud.TokenData.comClt == null %}
							<td>
								Sem comentário</td>
						{% else %}
							<td>
								{{client.mud.TokenData.codeExp.date|date('d-m-Y') }}<br>
								{{client.mud.TokenData.comClt}}</td>
						{% endif %}
					</tr>
				{% endif %}
				{% if mud.implemented != null and mud.mangerMudancas != null  %}
				
				{% if mud.implemented != 2  or  mud.implemented != 1 %}
					<tr>
						<th scope="row">Dados de implementação</th>
						<td>{{mud.mangerMudancas.departemant}}</td>
						<td>{{mud.mangerMudancas.name}}</td>
							<td>
							
						{% if mud.dateOfImp != null %}
							{{mud.dateOfImp}}
						{% endif %}
							</td>
						{% if  mud.implemented  == 1  %}
							<td>Implementado</td>
						{% elseif mud.implemented == 2 %}
							<td>Não implementado</td>
							{% else %}
							<td>Não implementado</td>

						{% endif %}

						{% if mud.impDesc == null %}
							<td>
								Sem comentário</td>
						{% else %}
							<td>
								{{mud.impDesc}}</td>
						{% endif %}
					</tr>
				{% endif %}
				{% elseif mud.implemented != null and mud.mangerMudancas != null %}
				{% if mud.implemented != 2  or  mud.implemented != 1 %}
					<tr>
						<th scope="row">Dados de implementação</th>

						{% if mud.managerUserAdd != null %}
							<td>{{mud.managerUserAdd.departemant}}</td>
							<td>{{mud.managerUserAdd.name}}</td>
							
						{% endif %}
						{% if  mud.implemented  == 1  %}
							<td>Implementado</td>
						{% elseif mud.implemented == 2 %}
							<td>Não implementado</td>
						{% else %}	
							<td>Ainda não implementada</td>
						{% endif %}
						{% if mud.impDesc == null and mud.implemented == null %}
							<td>Sem comentário</td>
								{% else %}
								<td>
								{{mud.dateOfImp|date('d-m-Y')}}
								Sem comentário</td>
						{% endif %}
					</tr>
				{% endif %}
					
				{% endif %}
			</tbody>
		</td>
	</tbody>
</tr></tbody></table></div>{% endblock %}
