<!doctype html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Welcome to the Space Bar!</title>
		<style>
			body {
				margin: 0;
				padding: 0;
				font-family: Helvetica, Arial, sans-serif;
			}

			h1 {
				background-color: #264459;
				color: #ffffff;
				padding: 10px 0;
				font-weight: normal;
			}

			hr {
				border: none;
				border-top: 3px solid #264459;
				margin: 20px;
			}
		</style>
	</head>

	<body>
		<div style="margin : 60px" class="body">
			<div class="container">
				<div class="header text-center">
					<a href="#homepage">
						<img src="http://www.serdia.com.br/site/wp-content/themes/serdia/images/logotipo_serdia_1.png" class="logo" alt="SpaceBar Logo">
					</a>
				</div>
				<div class="content">
					{% if demand == 'create' %}
						{% if mud.nansenName != null %}
							<h1 class="text-center">Olá {{ mud.addBy.name }},
							</h1>
							<br>
							Sua mudança foi registrada
							<br>
							Mudança:
							{{mud.id }}
							{{mud.nomeMudanca}}<br>
							Por gentileza acompanhe as próximas etapas desta mudança.

							<p class="block text-center">
								<a href="http://{{ip}}/controleMudancas/public/flow/{{mud.id}}" class="btn">Para acompanhar as próximas etapas clique aqui!
								</a>
							</p>
						{% else %}
							<h1 class="text-center">Olá {{ mud.addBy.name }},</h1>
							<br>
							Sua mudança foi registrada 
							<br>
							Mudança:
							{{mud.id }}
							{{mud.nomeMudanca}}
							<br>
							Por gentileza acompanhe as próximas etapas desta mudança.

							<p class="block text-center">
								<a href="http://{{ip}}/controleMudancas/public/flow/{{mud.id}}" class="btn">Para acompanhar as próximas etapas clique aqui!
								</a>
							</p>
						{% endif %}
					{% elseif demand =='nansen' %}
					<h1 class="text-center">Olá
							{{ mud.addBy.function.manager.name }},<br></h1>
						Há uma nova notificação para você
						<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						
						Fase: Aprovação automática da solicitação 
						Está solicitação foi aprovada automaticamente.
						<br>
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/approve/{{mud.id}}" class="btn">Para acompanhar as próximas etapas clique aqui!
							</a>
						</p>
					{% elseif demand =='nansenAddBy' %}
					<h1 class="text-center">Olá
							{{ mud.addBy.name }},<br></h1>
						Há uma nova notificação para você
						<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Mudanças relacionadas com o projeto Nansen : {{mud.nansenName}} {{mud.nansenNumber}}<br>

						Fase: Aprovação automática da solicitação
						<br>
						Está solicitação foi aprovada automaticamente.
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/flow/{{mud.id}}" class="btn">Para acompanhar as próximas etapas clique aqui!
							</a>
						</p>
					
					{% elseif demand =='client' %}
					<h1 class="text-center">Olá {{ c.name }}</h1>
						Há uma nova notificação para você
						<br>
						Nome da mudança: {{mud.nomeMudanca}}
						<br>
						Número da mudança: {{mud.id }}
						<br>
						Nome do Cliente: {{ c.resp }}
						<br>
						Descrição do Impacto para o Cliente:{{mud.descClient}}
						<br>
						Justificativa: {{mud.justif}}
						<br>
						Descrição do impacto: {{mud.descImpacto}}
						<br>
						Descrição do impacto na área do solicitante: {{mud.descImpactoArea}}
						<br>
						Área impactada: 
						{% for item in mud.areaImpact %}
							{{item.name}} <br>	
						{% endfor %}
						<br>
						Área responsável pela mudança: {{mud.areaResp.name}}
						<br>
						
						<p class="block text-center">
							<a href="https://cm.serdia.com.br/ClientExteranlAcces/public/{{token.token}}" class="btn">Para acessar a Mudança clique aqui!
							</a>
						</p>
					{% elseif demand == 'manager1' %}
						<h1 class="text-center">Olá
							{{ mud.addBy.function.manager.name }},<br></h1>
						Há uma nova notificação para você
						<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Fase: Aprovação da solicitação da mudança
						<br>
						Por gentileza acessar e verificar solicitação.
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/approve/{{mud.id}}" class="btn">Para acessar a Mudança clique aqui!
							</a>
						</p>
					{% elseif demand == 'manager1APP' %}
						<h1 class="text-center">Olá
							{{ mud.addBy.name }},<br></h1>
						Há uma nova notificação para você
						<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Fase: Aprovação gerente do solicitante
						<br>
							O(a) gerente {{ per.name }}
						aprovou a solicitação desta mudança.<br>
						Por gentileza analisar e verificar análise feita pelo gerente.
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/updateMudancas/{{mud.id}}" class="btn">Para acessar a Mudança clique aqui!
							</a>
						</p>

					{% elseif demand == 'manager1Rej' %}
						<h1 class="text-center">Olá
							{{ sendTo.name }},<br></h1>
						Há uma nova notificação para você
						<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Fase:Aprovação gerente do solicitante
						<br>
						{% if  mud.addBy.function.manager != null %}
							O(a) gerente
							{{mud.addBy.function.manager.name}}
						{% endif %}
						reprovou a solicitação desta mudança.<br>
						Por gentileza verificar a análise feita pelo gerente
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/flow/{{mud.id}}" class="btn">Para acessar a Mudança clique aqui!
							</a>
						</p>
					{% elseif demand == 'managerArea' %}
						<h1 class="text-center">Olá
							{{ sendTo.name }},<br></h1>
						Há uma nova notificação para você
						<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Fase: Aprovação área impactada 
						<br>Por gentileza acessar e analisar os
						impactos no seu processo da mudança
						aberta.
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/notif/{{mud.id}}" class="btn">Para acessar a Mudança clique aqui!
							</a>
						</p>
					{% elseif demand == 'managerAreaRej' %}
					<h1 class="text-center">Olá
							{{ mud.addBy.name }},<br></h1>
						Há uma nova notificação para você :
						<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Fase: Aprovação área impactada 
						<br>{{ per.name }} reprovou
						como área impactada da mudança.
						<br> Por gentileza acessar e analisar e verificar analise
						realizada pelo gestor.
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/updateMudancas/{{mud.id}}" class="btn">Para acessar a Mudança clique aqui!
							</a>
						</p>
					{% elseif demand == 'managerAreaApp' %}
					<h1 class="text-center">Olá
							{{ mud.addBy.name }},<br></h1>
						Há uma nova notificação para você :
						<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Fase: Aprovação área impactada 
						<br>{{ per.name }} aprovou
						como área impactada da mudança.
						<br> Por gentileza acessar e analisar e verificar analise
						realizada pelo gestor.
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/notif/{{mud.id}}" class="btn">Para acessar a Mudança clique aqui!
							</a>
						</p>

					{% elseif demand == 'gerente' %}
						<h1 class="text-center">Olá
							{{ name }},<br></h1>
						Há uma nova notificação para você:<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Fase: Aprovação do gerente responsável pela mudança
						<br>Por gentileza acessar,verificare definir o
						gestor/responsávelpor executaresta
						mudança.

						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/approve/{{mud.id}}" class="btn">Para acompanhar as próximas etapas clique aqui !
							</a>
						</p>
					{% elseif demand == 'reject_ger' %}
						<p class="block">
							<h1 class="text-center">Olá
								{{ mud.addBy.name }},<br></h1>
							Há uma nova notificação para você:
							<br>
							Mudança:
							{{mud.id }}
							{{mud.nomeMudanca}}<br>
							Fase: Aprovação gestor da área que realizará a mudança<br>

								O(a) gerente
								{{ per.name }}
							reprovou está mudança.
							<br>
							Por gentileza acessar e verificar a análise realizada pelo gerente.<br>
						</p>
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/flow/{{mud.id}}" class="btn">Para acompanhar as próximas etapas clique aqui!
							</a>

						</p>
					{% elseif demand == 'approved_ger' %}
						<p class="block">
							<h1 class="text-center">Olá
								{{ mud.addBy.name }},<br></h1>
							Há uma nova notificação para você:
							<br>
							Mudança:
							{{mud.id }}
							{{mud.nomeMudanca}}<br>
							Fase: Aprovação gestor da área que realizará a mudança<br>

								O(a) gerente
								{{ per.name }}
							
							aprovou está mudança.
							<br>
							Por gentileza acessar e verificar a análise realizada pelo gerente.<br>
						</p>
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/flow/{{mud.id}}" class="btn">Para acompanhar as próximas etapas clique aqui!
							</a>

						</p>
					{% elseif demand == 'reject_areaImp' %}
						<p class="block">
							<h1 class="text-center">Olá
								{{ mud.addBy.name }},<br></h1>
							Há uma nova notificação para você:
							<br>
							Mudança:
							{{mud.id }}
							{{mud.nomeMudanca}}<br>
							Fase: Aprovação área impactada<br>

								O(a) gerente
								{{ per.name }}
							reprovou como área impactada da mudança.
							<br>
							Por gentileza acessar e verificar a análise realizada pelo gestor da mudança.<br>
						</p>
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/flow/{{mud.id}}" class="btn">Para acompanhar as próximas etapas clique aqui!
							</a>

						</p>
					{% elseif demand == 'app_areaImp' %}
						<p class="block">
							<h1 class="text-center">Olá
								{{ mud.addBy.name }},<br></h1>
							Há uma nova notificação para você:
							<br>
							Mudança:
							{{mud.id }}
							{{mud.nomeMudanca}}<br>
							Fase: Aprovação área impactada<br>

								O(a) gerente
								{{ per.name }}
							aprovou
							como área impactada da mudança.<br>
							Por gentileza acessar e verificar a análise realizada pelo gestor da mudança.<br>
						
							</p>
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/flow/{{mud.id}}" class="btn">Para acompanhar as próximas etapas clique aqui!
							</a>

						</p>

					
					{% elseif demand == 'gestor' %}
						<h1 class="text-center">Olá
							{{ name }},<br></h1>
						Há uma nova notificação para você:<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Fase: Aprovação gestor da mudança<br>
						Por gentileza acessar e executar o processo desta mudança.
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/updateMudancas/{{mud.id}}" class="btn">pode consultar a situação das Mudanças aqui.
							</a>
						</p>


					{% elseif demand == 'approved_gestor' %}
						<h1 class="text-center">Olá
							{{ name }},<br></h1>
						Há uma nova notificação para você:<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Fase: Aprovação gestor da mudança
						<br>
						Esta mudança foi aprovada pelo gestor da
mudança, por gentileza acompanhe as
próximas etapas desta mudança.
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/flow/{{mud.id}}" class="btn">Para acessar a Mudança clique aqui!
							</a>
						</p>
					{% elseif demand == 'reject_gestor' %}
						<h1 class="text-center">Olá
							{{ name }},<br></h1>
						Há uma nova notificação para você:<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Fase: Aprovação gerente da área que realizará a mudança
						<br>
						O(a) gestor 
								{{ per.name }} reprovou está mudança.<br>
						Por gentileza acessar e verificar a análise realizada
						pelo gestor.
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/flow/{{mud.id}}" class="btn">Para acessar a Mudança clique aqui!
							</a>
						</p>
					{% elseif demand == 'gestorAppToArea' %}
						<h1 class="text-center">Olá
							{{ sendTo.name }},<br></h1>
						Há uma nova notificação para você:
						<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Fase: Mudança implementada
						<br>
						Por gentileza acessar e verificar a mudança implementada.
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/flow/{{mud.id}}" class="btn">Para acessar a Mudança clique aqui!
							</a>
						</p>
					{% elseif demand == 'gestorRejToUser' %}
						<h1 class="text-center">Olá
							{{ sendTo.name }},<br></h1>
						Há uma nova notificação para você
						<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Fase: Aprovação gestor da área que realizará a mudança
						<br>
						O(a) gestor {{ per.name }} reprovou está mudança.<br>  Por gentileza acessar e verificar a analisá realizada pelo gestor.
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/approveImp/{{mud.id}}" class="btn">Para acessar a Mudança clique aqui!
							</a>
						</p>

					{% elseif demand == 'gestorAppToUser' %}
						<h1 class="text-center">Olá
							{{ sendTo.name }},<br></h1>
						Há uma nova notificação para você
						<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Fase: Mudança implementada
						<br>
						
						Por gentileza acessar e verificar mudança implementada.
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/flow/{{mud.id}}" class="btn">Para acessar a Mudança clique aqui!
							</a>
						</p>
					
					{% elseif demand == 'managerAreaResp' %}
						<h1 class="text-center">Olá
							{{ sendTo.name }},<br></h1>
						Há uma nova notificação para você
						<br>
						Mudança:
						{{mud.id }}
						{{mud.nomeMudanca}}<br>
						Fase: Aprovação do gerente responsável pela mudança 
						<br>
						
						Por gentileza acessar, verificar e definir o gestor/responsável por esta mudança.
						<p class="block text-center">
							<a href="http://{{ip}}/controleMudancas/public/approve/{{mud.id}}" class="btn">Para acessar a Mudança clique aqui!
							</a>
						</p>
					{% endif %}
				</body>
			</html>
		</div>
		<div class="footer">
			<p class="block bottom text-center">
				Enviado com ❤️ da Serdia eletrônica industrial sa sistema
			</p>
		</div>
	</body>
</html></div></body></html></div></body></html>
