<div class="card">
	<div class="row d-flex justify-content-between px-3 top">
		<div class="d-flex">
			<a style="color: black;text-decoration: none;" href="{{path('Softindex',{'id':m.id} )}}">
				<h5>
					Mudanças <span class="text-primary font-weight-bold">#{{m.id}}</span>
				</h5>
			</a>
		</div>
		<div class="row d-flex justify-content-between px-3 top">
			

			<div class="d-flex flex-column text-sm-right">
				<a style="color: black;text-decoration: none;" href="{{path('flow',{'id':m.id} )}}">
					<p class="mb-0">Mudanças criadas:
						<span>{{m.datacreation}}</span>
					</p>
					<p>Fluxos de processo</p>
				</a>
			</div>
		</div>
	</div>
	<!-- Add class 'active' to progress -->
	<div class="row d-flex justify-content-center">
		<div class="col-12">
			<ul id="progressbar" class="text-center">
				{% if m.mudS.ref == null %}
					<li class="step0"></li>
					<li class="step0"></li>
					<li class="step0"></li>
					<li class="step0"></li>
					<li class="step0"></li>
				{% else %}
					{% if m.mudS.gestor == null %}
						<li class="active step0"></li>
						<li class="step0"></li>
						<li class="step0"></li>
						<li class="step0"></li>
						<li class="step0"></li>
					{% else %}
						<li class="active step0"></li>
						<li class="active step0"></li>
						{% if m.mudS.stepDev|length == 0 or  m.mudS.stepDev == null %}
							<li class="step0"></li>
							<li class="step0"></li>
							<li class="step0"></li>
						{% else %}
							<li class="active step0"></li>
							{% if m.mudS.stepsTest|length == 0 or m.mudS.stepsTest == null %}
								<li class="step0"></li>
								<li class="step0"></li>
							{% else %}
								<li class="active step0"></li>
								{% if m.mudS.stepsTestSol|length == 0 or m.mudS.stepsTestSol  == null %}
									<li class="step0"></li>
								{% else %}
									<li class="active step0"></li>
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}
			</ul>
		</div>
	</div>
	<div class="row justify-content-between top">

		<div class="row d-flex icon-content">

			<a style="text-decoration: none;" href="{{path('gerente_software',{'id':m.id} )}}">
				<img class="icon" src="{{ asset('analysing.png') }}"/>
			</a>
			<div class="d-flex flex-column">
				<a style="color: black;text-decoration: none;" href="{{path('gerente_software',{'id':m.id} )}}">
					<p class="font-weight-bold">
						Demanda<br/>e<br/>verificação
					</p>
				</a>
			</div>
		</div>
		<div class="row d-flex icon-content">

			<a style="text-decoration: none;" href="{{path('Solicitante_software',{'id':m.id} )}}">
				<img class="icon" src="https://i.imgur.com/9nnc9Et.png"/>
			</a>
			<div class="d-flex flex-column">

				<a style="color: black;text-decoration: none;" href="{{path('Solicitante_software',{'id':m.id} )}}">
					<p class="font-weight-bold">
						Documentação<br/>e<br/>análise
					</p>
				</a>
			</div>
		</div>
		<div class="row d-flex icon-content">

			<a style="text-decoration: none;" href="{{path('dev_software',{'id':m.id} )}}"><img class="icon" src="{{ asset('software-development.png') }}"/>

			</a>
			<div class="d-flex flex-column">

				<a style="color: black;text-decoration: none;" href="{{path('dev_software',{'id':m.id} )}}">
					<p class="font-weight-bold">
						Desenvolvimento<br/>e<br/>concepção
					</p>
				</a>
			</div>
		</div>
		<div class="row d-flex icon-content">

			<a style="text-decoration: none;" href="{{path('test_ti_software',{'id':m.id} )}}"><img class="icon" src="{{ asset('testing.png') }}"/>

			</a>
			<div class="d-flex flex-column">

				<a style="color: black;text-decoration: none;" href="{{path('test_ti_software',{'id':m.id} )}}">
					<p class="font-weight-bold">
						Verificação<br/>e<br/>teste de TI
					</p>
				</a>
			</div>
		</div>
		<div class="row d-flex icon-content">

			<a style="text-decoration: none;" href="{{path('test_solicitante_software',{'id':m.id} )}}"><img class="icon" src="{{ asset('approve.png') }}"/>

			</a>
			<div class="d-flex flex-column">

				<a style="color: black;text-decoration: none;" href="{{path('test_solicitante_software',{'id':m.id} )}}">
					<p class="font-weight-bold">
						Verificação<br/>e<br/>teste do solicitante
					</p>
				</a>
			</div>
		</div>
	</div>
</div>
