{% extends 'base.html.twig' %}

{% block title %}Hello GestorController!
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

	<style>
		@import url('https://unpkg.com/open-props/open-props.min.css');
		@import url('https://unpkg.com/open-props/normalize.min.css');

		#main {
			box-sizing: border-box;
			width: 66ch;
		}


		.custom-card {
			width: 50%; /* Set the width of your card */
			margin: 50px auto; /* Adjust the margin as needed */
			background-color: #fff; /* Set the background color */
			padding: 20px; /* Adjust the padding as needed */
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow for a card-like appearance */
			border-radius: 10px; /* Set the border radius as needed */
			z-index: 999999; /* Set a high z-index for the card */
		}
	</style>

	{{ include('flowBoard.html.twig') }}

	<div class="row">

		{% if sd is null %}

			{% else %}
				<h3>
					Lista de arquivos rejeitados ou aceitos:
					<button style="
										border: none;
										background-color: green-light;
										padding: 10px 20px;
										border-radius: 10px;
										color: #fff;
										cursor: pointer;
										transition: background .2s ease-in-out;" onclick="visArq()"><img style="width: 10px" src="{{ asset('visible.png') }}"/></button>
				</h3>
				<div id="arq">
					{% for s in sd %}
						<div class="row">
							{% if s.approveSol != '' %}
								<div id="{{s.id}}" class="row col-md-12 mb-3 justify-content-between">
									<div id="div" class="col-md-3 mb-3">
										<label for="1">Fase</label>
										<input class="form-control" id="{{s.id}}" name="{{s.id}}" value="{{s.step}}" type="text" readonly/>
									</div>
									<div id="div3" class="col-md-3 mb-3">
										<label for="{{s.id}}desc">Comentário</label>
										<input id="{{s.id}}desc" class="form-control" name="{{s.id}}desc" value="{{s.comment}}" type="text" readonly/>
									</div>
									<div id="div2" class="col-md-4 mb-3">
										<label for="{{s.id}}date">Data de Levantamento</label><br>
										<input id="{{s.id}}date" name="{{s.id}}date" value="{{s.date|date('d-m-Y')}}" style="width: 100%" type="text" readonly/>
									</div>


									<div id="div6" class="col-md-2 mb-3">
										<label for="{{s.id}}file">Aprovação</label>
										<input id="{{s.id}}stat" name="{{s.id}}stat" value="{{s.approveSol}}" {% if s.approveSol == "Reprovar" %}
											style="width: 100%; background-color: red;"
											{% elseif s.approveSol == "Aprovar" %}style="width: 100%; background-color: #20c997;"
										{% endif %} type="text" readonly/>
			
									</div>
									{% if s.doc != null %}
										<div class="col-md-3 mb-3">
											<label>Anexo</label><br>
      										<a href="{{ asset('assets/') }}{{m.id}}/{{s.doc}}" style="
															  						border: none;
															  						background-color: #0c2c01;
															  						padding: 10px 20px;
															  						border-radius: 10px;
															  						color: #fff;
															  						cursor: pointer;
															  						transition: background .2s ease-in-out;">
												⇬ Baixar arquivos 
											</a>
										</div>
									{% endif %}

									
									{% if s.docTest != null %}
										<div class="col-md-3 mb-3">
											<label>Anexo</label><br>
      										<a href="{{ asset('assets/') }}{{m.id}}/{{s.docTest}}" style="
															  						border: none;
															  						background-color: #0c2c01;
															  						padding: 10px 20px;
															  						border-radius: 10px;
															  						color: #fff;
															  						cursor: pointer;
															  						transition: background .2s ease-in-out;">
												⇬ Baixar arquivos teste
											</a>
										</div>
									{% endif %}
								</div>
							{% endif %}
						</div>
						{% else %}

					{% endfor %}
						<hr style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
				</div>
				<form action="{{path('app_software_sol_approve_documentation',{'id':m.id} )}}" style="width: 100% " enctype="multipart/form-data" method="post">
					
					{% set empty = "true" %}
					{% for s in sd %}
						{% if s.approveSol != 'Reprovar' and s.approveSol != 'Aprovar' %}
						
							{% set empty = "false" %}
							<div id="{{s.id}}" class="row col-md-12 mb-3 justify-content-between">
								<div id="div" class="col-md-3 mb-3">
									<label for="1">Fase</label>
									<input class="form-control" id="{{s.id}}" name="{{s.id}}" value="{{s.step}}" type="text" readonly/>
								</div>
								<div id="div3" class="col-md-3 mb-3">
									<label for="{{s.id}}desc">Comentário</label>
									<input id="{{s.id}}desc" class="form-control" name="{{s.id}}desc" value="{{s.comment}}" type="text" readonly/>
								</div>
								<div id="div2" class="col-md-4 mb-3">
									<label for="{{s.id}}date">Data de Levantamento</label><br>
									<input id="{{s.id}}date" name="{{s.id}}date" value="{{s.date|date('d-m-Y')}}" style="width: 100%" type="text" readonly/>
								</div>


								<div id="div6" class="col-md-2 mb-3">
									<label for="{{s.id}}file">Aprovação</label>
									<select id="{{s.id}}stat" name="{{s.id}}stat" class="form-control" value="{{s.approveSol}}">
										{% if s.approveSol == 'Aprovar' %}
											<option value="">Selecione a opção</option>
											<option selected value="Aprovar">Aprovar</option>
											<option value="Reprovar">Reprovar</option>
										{% elseif s.approveSol == 'Reprovar' %}
											<option value="">Selecione a opção</option>
											<option value="Aprovar">Aprovar</option>
											<option selected value="Reprovar">Reprovar</option>
										{% else %}
											<option selected value="">Selecione a opção</option>
											<option value="Aprovar">Aprovar</option>
											<option value="Reprovar">Reprovar</option>
										{% endif %}
									</select>
								</div>
								<div id="div4" class="col-md-6 mb-3">
									<label for="{{s.id}}file">Anexo</label>
									<input id="{{s.id}}file" name="{{s.id}}file" value="{{s.doc}}" style="width: 100%" type="text" readonly/>
								</div>
								<div id="div5" class="col-md-6 mb-3">
									<label for="{{s.id}}files">Anexo</label>
									<input id="{{s.id}}files" name="{{s.id}}files" value="{{s.docTest}}" style="width: 100%" type="text" readonly/>
								</div>
							</div>
						<hr style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
						{% endif %}
						<!-- Add a horizontal line as a separator -->

					{% endfor %}
					{% if empty == "true" %}
					<div class="col-md-12 mb-3">
						Nenhum Arquivo disponível
					</div>
						{% else %}

					<div class="col-md-12 mb-3">
						<input id="btnSubsq" style="
																			min-width: 86px;
																			height: 32px;
																			display: -ms-flexbox;
																			display: flex;
																			-ms-flex-align: center;
																			align-items: center;
																			-ms-flex-pack: center;
																			justify-content: center;
																			background: #afbace;
																			color: #fff;
																			box-shadow: none;
																			border-radius: 4px;
																			padding: 0 5px;
																			border: none;" type="submit" value="Atualizar"/>
					</div>
					{% endif %}
				</form>
		{% endif %}
	</div>

	<script>
		var x = document.getElementById("arq");
		x.style.display = "none";

		function visArq() {
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
		}
	</script>

{% endblock %}
