{% extends 'base.html.twig' %}
{% block title %}Gestor teste
{% endblock %}

{% block body %}
	{{ include('flowBoard.html.twig') }}


	<div class="row" id="arq">
		<form action="{{path('app_software_gestor_changeRequest_approve',{'id':m.id} )}}" style="width: 100% " enctype="multipart/form-data" method="post">
			{% if step is null %}
				{% else %}
					{% for s in step %}
						<div id="{{s.id}}" class="row col-md-12 mb-3 d-flex justify-content-between">
							<div id="div" class="col-md-3 mb-3">
								<label for="1">Arquivos</label>
								<input class="form-control" id="{{s.id}}ariquivo" name="{{s.id}}ariquivo" value="{{s.ariquivo.step}}" type="text" readonly/>
							</div>
							<div id="div3" class="col-md-6 mb-3">
								<label for="{{s.id}}desc">Título</label>
								<input id="{{s.id}}title" class="form-control" name="{{s.id}}title" value="{{s.title}}" type="text" readonly/>
							</div>

							<div id="div2" class="col-md-3 mb-3">
								<label for="{{s.id}}date">Data de criação</label><br>
								<input id="{{s.id}}date" name="{{s.id}}date" value="{{s.dateCreation|date('d-m-Y')}}" class="form-control" style="width: 100%" type="text" readonly/>
							</div>
							<div id="div3" class="col-md-9 mb-3">
								<label for="{{s.id}}desc">Comentário</label>
								<input id="{{s.id}}desc" class="form-control" name="{{s.id}}desc" value="{{s.comments}}" type="text" readonly/>
							</div>

							<div id="div3" class="col-md-6 mb-3">
								<label for="{{s.id}}de">Comentário</label>
								<input id="{{s.id}}de" class="form-control" name="{{s.id}}de" value="" type="text"/>
							</div>
							<div id="div6" class="col-md-3 mb-3">
								<label for="{{s.id}}file">Aprovação</label>
								<select id="{{s.id}}stat" name="{{s.id}}stat" class="form-control">
									<option selected value="">Selecione a opção</option>
									<option value="Approvar">Approvar</option>
									<option value="Reprovar">Reprovar</option>
								</select>
							</div>
							{% if s.doc != null %}
								<div class="col-md-6 mb-3">
									<label>Anexo</label><br>
									<a href="{{ asset('assets/') }}{{m.id}}/{{s.doc}}" style="
																							  						border: none;
																							  						background-color: #0c2c01;
																							  						padding: 10px 20px;
																							  						border-radius: 10px;
																							  						color: #fff;
																							  						cursor: pointer;
																							  						transition: background .2s ease-in-out;">
										⇬ Baixar arquivos
									</a>
								</div>
							{% endif %}

							{% if s.docTest != null %}
								<div class="col-md-6 mb-3">
									<label>Anexo Teste</label><br>
									<a href="{{ asset('assets/') }}{{m.id}}/{{s.docTest}}" style="
																							  						border: none;
																							  						background-color: #0c2c01;
																							  						padding: 10px 20px;
																							  						border-radius: 10px;
																							  						color: #fff;
																							  						cursor: pointer;
																							  						transition: background .2s ease-in-out;">
										⇬ Baixar arquivos teste
									</a>
								</div>
							{% endif %}

							{% if s.docClient != null %}
								<div class="col-md-6 mb-3">
									<label>O último anexo que Gestor adicionou :</label><br>
									<a href="{{ asset('assets/') }}{{m.id}}/{{s.docGestor}}" style="
																							  						border: none;
																							  						background-color: #0c2c01;
																							  						padding: 10px 20px;
																							  						border-radius: 10px;
																							  						color: #fff;
																													width: 100%
																							  						cursor: pointer;
																							  						transition: background .2s ease-in-out;">
										⇬ Baixar arquivos que Gestor adicionou
									</a>
								</div>
							{% endif %}

							{% if s.docGestor != null %}
								<div class="col-md-6 mb-3">
									<label>O último anexo que você adicionou :</label><br>
									<a href="{{ asset('assets/') }}{{m.id}}/{{s.docGestor}}" style="
																							  						border: none;
																							  						background-color: #0c2c01;
																							  						padding: 10px 20px;
																							  						border-radius: 10px;
																							  						color: #fff;
																													width: 100%
																							  						cursor: pointer;
																							  						transition: background .2s ease-in-out;">
										⇬ Baixar arquivos que você adicionou
									</a>
								</div>
							{% endif %}

						</div>
						<hr style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
					{% else %}
						<h3 style="width: 90%;padding : 20px; margin-top: 10px; margin-bottom: 10px;">NÃO há dados disponíveis</h3><hr style="width: 90%;padding : 20px; margin-top: 10px; margin-bottom: 10px;">
					{% endfor %}
			{% endif %}

			{% if step |length >0 %}
				{% if m.areaResp.manager == person %}
					<div class="col-md-12 mb-3">
						<input id="btnSubsq"class="btn btn-info mt-2 text-white btn-secondary" type="submit" value="Salvar"/>
					</div>
				{% endif %}
			{% endif %}

		</form>
	</div>
{% endblock %}
