{% extends 'base.html.twig' %}

{% block title %}Hello Gestor Controller!
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
 
	<style>
		@import url('https://unpkg.com/open-props/open-props.min.css');
		@import url('https://unpkg.com/open-props/normalize.min.css');

		#main {
			box-sizing: border-box;
			width: 66ch;
		}


		.custom-card {
			width: 50%; /* Set the width of your card */
			margin: 50px auto; /* Adjust the margin as needed */
			background-color: #fff; /* Set the background color */
			padding: 20px; /* Adjust the padding as needed */
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow for a card-like appearance */
			border-radius: 10px; /* Set the border radius as needed */
			z-index: 999999; /* Set a high z-index for the card */
		}
	</style>
	<style>
		@import url('https://unpkg.com/open-props/open-props.min.css');
		@import url('https://unpkg.com/open-props/normalize.min.css');

		#main {
			box-sizing: border-box;
		}

		#ul {
			padding: 0;
			display: inline-grid;
			grid-auto-flow: column;
			list-style-type: none;
			grid-template-columns: auto repeat(3, calc((var(--active, 0) * 200px) + 10px));
			transition: grid-template-columns 0.35s var(--ease-elastic-1);
		}

		#main {
			width: 66ch;
		}

		#li {
			display: grid;
			justify-content: end;
			z-index: calc(var(--count) - var(--index));
		}

		#nav {
			position: relative;
		}

		#nav > #button {
			position: absolute;
			left: 0;
			background: red;
			z-index: var(--count);
		}

		#a {
			background: #17a2b8;
			display: inline-block;
			border-radius: var(--radius-5);
			margin: 0;
			color: var(--blue-0);
			font-size: var(--font-size-1);
			font-weight: var(--font-weight-0);
			backdrop-filter: blur(40px);
			transition: color 0.2s, background 0.2s;
		}

		#a:visited {
			color: var(--green-0);
		}

		#svg {
			height: 24px;
			aspect-ratio: 1;
			fill: currentColor;
		}

		#span {
			display: grid;
			align-items: center;
			grid-auto-flow: column;
			grid-template-columns: 16px 1fr;
			gap: 0.25rem;
		}

		#li:is(:nth-of-type(2), :nth-of-type(3),:nth-of-type(4)) span {
			opacity: var(--active, 0);
			color: var(--blue-12);
		}

		#li:is(:nth-of-type(2), :nth-of-type(1), :nth-of-type(3), :nth-of-type(4)) #a:is(:hover, :focus) {
			background: var(--blue-0);
			color: var(--blue-12);
		}

		#a:focus-visible {
			outline-color: transparent;
		}

		#ul:is(:focus-within, :hover) {
			--active: 1;
		}

		.chosen-container-multi .chosen-choices {
			/*blah blah*/
			width: 400px;
		}


		.chosen-drop {
			/* less specificity, this style might not work  */
			width: 400px;
		}


				.download-button {
			position: relative;
			border-width: 0;
			color: white;
			font-size: 15px;
			font-weight: 600;
			border-radius: 4px;
			z-index: 1;
		}

		.download-button .docs {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			min-height: 40px;
			padding: 0 10px;
			border-radius: 4px;
			z-index: 1;
			background-color: #242a35;
			border: solid 1px #e8e8e82d;
			transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
		}

		.download-button:hover {
			box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
		}

		.download {
		position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 20%;
    /* margin: revert; */
    margin-left: 80%;
    z-index: -1;
    border-radius: 4px;
    transform: translateX(0%);
    background-color: #01e056;
    border: solid -7px #01e0572d;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
		}


		.download-button:hover .download {
			transform: translateX(100%)
		}

		.download svg polyline,
		.download svg line {
			animation: docs 1s infinite;
		}

		@keyframes docs {
			0% {
				transform: translateY(0%);
			}

			50% {
				transform: translateY(-15%);
			}

			100% {
				transform: translateY(0%);
			}
		}

		
	</style>
	{{ include('flowBoard.html.twig') }}

	<main id='main'>
		<nav id="nav" style="--count: 4;">
			<ul id="ul">
				<li id="li" style="--index: 1;">
					<a id="a" target="_blank" rel="noreferrer noopener">
						<span id="span">

							<svg id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="800px" width="800px" version="1.1" id="Capa_1" viewbox="0 0 486.4 486.4" xml:space="preserve">
								<g>
									<g>
										<path d="M454.8,195.05h-20.7c-4.7-18.6-12-36.3-21.9-52.7l14.7-14.7c6-6,9.3-13.9,9.3-22.4s-3.3-16.4-9.3-22.4l-23.4-23.4    c-6-6-13.9-9.3-22.4-9.3s-16.4,3.3-22.4,9.3l-14.6,14.8c-16.5-9.9-34.1-17.2-52.7-21.9v-20.7c0-17.4-14.2-31.6-31.6-31.6h-33    c-17.4,0-31.6,14.2-31.6,31.6v20.7c-18.6,4.7-36.3,12-52.7,21.9l-14.7-14.7c-6-6-13.9-9.3-22.4-9.3S89,53.55,83,59.55l-23.5,23.4    c-6,6-9.3,13.9-9.3,22.4s3.3,16.4,9.3,22.4l14.7,14.6c-9.9,16.5-17.2,34.1-21.9,52.7H31.6c-17.4,0-31.6,14.2-31.6,31.6v33    c0,17.4,14.2,31.6,31.6,31.6h20.7c4.7,18.6,12,36.3,21.9,52.7l-14.7,14.7c-6,6-9.3,13.9-9.3,22.4s3.3,16.4,9.3,22.4l23.4,23.4    c6,6,13.9,9.3,22.4,9.3s16.4-3.3,22.4-9.3l14.7-14.7c16.5,9.9,34.1,17.2,52.7,21.9v20.7c0,17.4,14.2,31.6,31.6,31.6h33    c17.4,0,31.6-14.2,31.6-31.6v-20.7c18.6-4.7,36.3-12,52.7-21.9l14.7,14.7c6,6,13.9,9.3,22.4,9.3s16.4-3.3,22.4-9.3l23.4-23.4    c6-6,9.3-13.9,9.3-22.4s-3.3-16.4-9.3-22.4l-14.7-14.5c9.9-16.5,17.2-34.1,21.9-52.7h20.7c17.4,0,31.6-14.2,31.6-31.6v-33    C486.4,209.25,472.2,195.05,454.8,195.05z M462.4,259.75c0,4.2-3.4,7.6-7.6,7.6h-30.3c-5.7,0-10.7,4-11.8,9.7    c-4.4,22.3-13.1,43.2-25.7,62.1c-3.2,4.8-2.6,11.1,1.5,15.2l21.5,21.5c1.4,1.4,2.2,3.4,2.2,5.4s-0.8,4-2.2,5.4l-23.4,23.4    c-1.4,1.4-3.4,2.2-5.4,2.2s-4-0.8-5.4-2.2l-21.5-21.5c-4-4-10.4-4.7-15.2-1.5c-18.9,12.7-39.8,21.3-62.1,25.7    c-5.6,1.1-9.7,6-9.7,11.8v30.3c0,4.2-3.4,7.6-7.6,7.6h-33c-4.2,0-7.6-3.4-7.6-7.6v-30.3c0-5.7-4-10.7-9.7-11.8    c-22.3-4.4-43.2-13.1-62.1-25.7c-2-1.4-4.4-2-6.7-2c-3.1,0-6.2,1.2-8.5,3.5l-21.5,21.5c-1.4,1.4-3.4,2.2-5.4,2.2s-4-0.8-5.4-2.2    l-23.4-23.4c-1.4-1.4-2.2-3.4-2.2-5.4s0.8-4,2.2-5.4l21.5-21.5c4-4,4.7-10.4,1.5-15.2c-12.7-18.9-21.3-39.8-25.7-62.1    c-1.1-5.6-6-9.7-11.8-9.7H31.6c-4.2,0-7.6-3.4-7.6-7.6v-33c0-4.2,3.4-7.6,7.6-7.6h30.3c5.7,0,10.7-4,11.8-9.7    c4.4-22.3,13.1-43.2,25.7-62.1c3.2-4.8,2.6-11.1-1.5-15.2l-21.5-21.5c-1.4-1.4-2.2-3.4-2.2-5.4s0.8-4,2.2-5.4l23.4-23.4    c1.4-1.4,3.4-2.2,5.4-2.2s4,0.8,5.4,2.2l21.5,21.5c4,4,10.4,4.7,15.2,1.5c18.9-12.7,39.8-21.3,62.1-25.7c5.6-1.1,9.7-6,9.7-11.8    v-30.3c0-4.2,3.4-7.6,7.6-7.6h33c4.2,0,7.6,3.4,7.6,7.6v30.3c0,5.7,4,10.7,9.7,11.8c22.3,4.4,43.2,13.1,62.1,25.7    c4.8,3.2,11.1,2.6,15.2-1.5l21.5-21.5c1.4-1.4,3.4-2.2,5.4-2.2s4,0.8,5.4,2.2l23.4,23.4c1.4,1.4,2.2,3.4,2.2,5.4s-0.8,4-2.2,5.4    l-21.5,21.5c-4,4-4.7,10.4-1.5,15.2c12.7,18.9,21.3,39.8,25.7,62.1c1.1,5.6,6,9.7,11.8,9.7h30.3c4.2,0,7.6,3.4,7.6,7.6V259.75z"/>
										<path d="M313.7,181.65c4.4-5,3.9-12.5-1-16.9c-5-4.4-12.5-3.9-16.9,1c-4.4,5-3.9,12.6,1,16.9c2.3,2,5.1,3,7.9,3    C308,185.65,311.3,184.25,313.7,181.65z"/>
										<path d="M280.9,314.75c-5.9,3.1-8.1,10.4-5,16.2c2.1,4.1,6.3,6.4,10.6,6.4c1.9,0,3.8-0.4,5.6-1.4c5.9-3.1,8.1-10.4,5-16.2    C294,313.95,286.8,311.65,280.9,314.75z"/>
										<path d="M268.2,141.35c-6.4-1.6-12.9,2.4-14.5,8.8c-1.6,6.4,2.4,12.9,8.8,14.5c1,0.2,1.9,0.3,2.9,0.3c5.4,0,10.3-3.7,11.6-9.1    C278.6,149.45,274.6,142.95,268.2,141.35z"/>
										<path d="M160,286.15c-5.4,3.8-6.8,11.3-3,16.7c2.3,3.4,6.1,5.2,9.9,5.2c2.4,0,4.7-0.7,6.8-2.1c5.4-3.8,6.8-11.3,3-16.7    C172.9,283.75,165.4,282.35,160,286.15z"/>
										<path d="M326.5,285.95c-5.5-3.8-12.9-2.4-16.7,3.1c-3.8,5.5-2.4,12.9,3.1,16.7c2.1,1.4,4.5,2.1,6.8,2.1c3.8,0,7.6-1.8,9.9-5.2    C333.3,297.25,332,289.75,326.5,285.95z"/>
										<path d="M336.8,242.35c-6.6-0.8-12.5,3.9-13.3,10.5l0,0c-0.8,6.6,3.9,12.6,10.5,13.3c0.5,0.1,1,0.1,1.4,0.1    c6,0,11.2-4.5,11.9-10.6C348.1,249.15,343.4,243.15,336.8,242.35z"/>
										<path d="M330,222.15c1.4,0,2.9-0.3,4.3-0.8c6.2-2.4,9.3-9.3,6.9-15.5s-9.3-9.3-15.5-6.9c-6.2,2.4-9.3,9.3-6.9,15.5    C320.6,219.25,325.2,222.15,330,222.15z"/>
										<path d="M162.9,253.05c-0.8-6.6-6.8-11.3-13.4-10.5c-6.6,0.8-11.3,6.8-10.5,13.4c0.7,6.1,5.9,10.6,11.9,10.6c0.5,0,1,0,1.4-0.1    C159,265.65,163.7,259.65,162.9,253.05z"/>
										<path d="M152.1,221.55c1.4,0.5,2.8,0.8,4.3,0.8c4.8,0,9.4-2.9,11.2-7.8c2.4-6.2-0.8-13.1-7-15.5c-6.2-2.3-13.1,0.8-15.5,7l0,0    C142.8,212.35,145.9,219.25,152.1,221.55z"/>
										<path d="M243.4,324.05C243.3,324.05,243.3,324.05,243.4,324.05c-0.1,0-0.1,0-0.2,0c-6.6,0-12,5.4-12,12s5.4,12,12,12h0.1h0.1    c6.6,0,12-5.4,12-12C255.4,329.45,250,324.05,243.4,324.05z"/>
										<path d="M232.5,150.25c-1.6-6.4-8.1-10.4-14.5-8.8c-6.4,1.6-10.4,8.1-8.8,14.5c1.3,5.5,6.3,9.1,11.6,9.1c0.9,0,1.9-0.1,2.9-0.4    C230.2,163.15,234.1,156.65,232.5,150.25z"/>
										<path d="M205.6,314.85c-5.9-3.1-13.1-0.8-16.2,5c-3.1,5.9-0.8,13.1,5,16.2c1.8,0.9,3.7,1.4,5.6,1.4c4.3,0,8.5-2.3,10.6-6.4    C213.8,325.25,211.5,317.95,205.6,314.85z"/>
										<path d="M190.5,165.85c-4.4-5-12-5.4-16.9-1s-5.4,12-1,16.9c2.4,2.7,5.7,4,9,4c2.8,0,5.7-1,8-3    C194.5,178.35,195,170.75,190.5,165.85z"/>
									</g>
								</g>
							</svg>
							Configurações</span>
					</a>
				</li>

				<li id="li" style="--index: 2;">
					<a onclick="window.dialog.showModal();" id="a" target="_blank" rel="noreferrer noopener">
						<span id="span">
							<svg id="svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0
																								0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"/>
							</svg>
							Desenvolvedores
						</span>
					</a>
				</li>
			</ul>
		</nav>
	</main>
	<dialog id="dialog">
		<button onclick="window.dialog.close();" aria-label="close" class="x">X</button>
		<br>
		<br>
		<br>
		<h2>Lista de Desenvolvedores</h2>
		{{ form_start(formDevs, { 'attr': {'class':'form-group', 'id':'test'}}) }}
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(formDevs.developers) }}
				{{ form_widget(formDevs.developers,{'attr':{'class':'form-control','rows': '4','id':'testnomeMudanca'}}) }}
			</div>
		</div>
		{% if m.mangerMudancas == person %}

			<button class="btn btn-info mt-2 text-white" style="background-color: #0c2c01;border-color: #0c2c01;">
				Enviar
			</button>
		{% endif %}

		{{ form_end(formDevs) }}

	</dialog>
	<h3>
		Consulta/fases:
		<button style="
																border: none;
																background-color: green-light;
																padding: 10px 20px;
																border-radius: 10px;
																color: #fff;
																cursor: pointer;
																transition: background .2s ease-in-out;" onclick="visArq()"><img style="width: 10px" src="{{ asset('visible.png') }}"/></button>
	</h3>
	<div class="row" id="arq">

		{% if step is null %}
			{% else %}
				{% for s in step %}
					{% if s.ia =="ia" %}
						<div id="{{s.id}}" class="row col-md-12 mb-3 d-flex justify-content-between">
							<div id="div" class="col-md-3 mb-3">
								<label for="1">Requisito</label>
								<input class="form-control" id="{{s.id}}ariquivo" name="{{s.id}}ariquivo" value="{{s.ariquivo.step}}" type="text" readonly/>
							</div>
							<div id="div3" class="col-md-4 mb-3">
								<label for="{{s.id}}desc">Título</label>
								<input id="{{s.id}}title" class="form-control" name="{{s.id}}title" value="{{s.title}}" type="text" readonly/>
							</div>

							<div id="div2" class="col-md-3 mb-3">
								<label for="{{s.id}}date">Data de entrega do teste de TI</label><br>
								<input id="{{s.id}}date" name="{{s.id}}date" value="{{s.dateCreation|date('d-m-Y')}}" style="width: 100%" type="text" readonly/>
							</div>
							<div id="div2" class="col-md-1 mb-3">
								<a href="{{path('app_software_gestor_IA_deletestepIa',{'id': s.id,'ids':m.id}) }}" s style="font-size: 16px; padding: 10px 20px; background-color: red; color: white; border: none; border-radius: 5px;">
												<i class="fa fa-trash-o fa-lg"></i>
								</a>
							</div>
							<div id="div3" class="col-md-12 mb-3">
								<label for="{{s.id}}desc">Comentário</label>
								<input id="{{s.id}}desc" class="form-control" name="{{s.id}}desc" value="{{s.comments}}" type="text" readonly/>
							</div>
							{% if s.doc != null %}
								<div class="col-md-6 mb-3">
									<label>Anexo</label><br>
									<button onclick="location.href='{{ asset('assets/') }}{{m.id}}/{{s.doc}}'" class="download-button">
												<div class="docs">
													<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewbox="0 0 24 24">
														<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
														<polyline points="14 2 14 8 20 8"></polyline>
														<line y2="13" x2="8" y1="13" x1="16"></line>
														<line y2="17" x2="8" y1="17" x1="16"></line>
														<polyline points="10 9 9 9 8 9"></polyline>
													</svg>Anexo</div>
												<div class="download">
													<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewbox="0 0 24 24">
														<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
														<polyline points="7 10 12 15 17 10"></polyline>
														<line y2="3" x2="12" y1="15" x1="12"></line>
													</svg>
												</div>
											</button>
								</div>
							{% endif %}

							{% if s.docTest != null %}
								<div class="col-md-6 mb-3">
									<label>Anexo De Teste</label><br>

									<button onclick="location.href='{{ asset('assets/') }}{{m.id}}/{{s.docTest}}'" class="download-button">
												<div class="docs">
													<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewbox="0 0 24 24">
														<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
														<polyline points="14 2 14 8 20 8"></polyline>
														<line y2="13" x2="8" y1="13" x1="16"></line>
														<line y2="17" x2="8" y1="17" x1="16"></line>
														<polyline points="10 9 9 9 8 9"></polyline>
													</svg>Anexo de Teste</div>
												<div class="download">
													<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewbox="0 0 24 24">
														<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
														<polyline points="7 10 12 15 17 10"></polyline>
														<line y2="3" x2="12" y1="15" x1="12"></line>
													</svg>
												</div>
											</button>
								</div>
							{% endif %}
						</div>	
	
	
	<hr style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
		
					
					{% else %}
					<div id="{{s.id}}" class="row col-md-12 mb-3 d-flex justify-content-between">
						<div id="div" class="col-md-3 mb-3">
							<label for="1">Requisito</label>
							<input class="form-control" id="{{s.id}}ariquivo" name="{{s.id}}ariquivo" value="{{s.ariquivo.step}}" type="text" readonly/>
						</div>
						<div id="div3" class="col-md-6 mb-3">
							<label for="{{s.id}}desc">Título</label>
							<input id="{{s.id}}title" class="form-control" name="{{s.id}}title" value="{{s.title}}" type="text" readonly/>
						</div>

						<div id="div2" class="col-md-3 mb-3">
							<label for="{{s.id}}date">Data de entrega do teste de TI</label><br>
							<input id="{{s.id}}date" name="{{s.id}}date" value="{{s.dateCreation|date('d-m-Y')}}" style="width: 100%" type="text" readonly/>
						</div>
						<div id="div3" class="col-md-12 mb-3">
							<label for="{{s.id}}desc">Comentário</label>
							<input id="{{s.id}}desc" class="form-control" name="{{s.id}}desc" value="{{s.comments}}" type="text" readonly/>
						</div>
						{% if s.doc != null %}
							<div class="col-md-6 mb-3">
								<label>Anexo</label><br>
								<button onclick="location.href='{{ asset('assets/') }}{{m.id}}/{{s.doc}}'" class="download-button">
											<div class="docs">
												<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewbox="0 0 24 24">
													<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
													<polyline points="14 2 14 8 20 8"></polyline>
													<line y2="13" x2="8" y1="13" x1="16"></line>
													<line y2="17" x2="8" y1="17" x1="16"></line>
													<polyline points="10 9 9 9 8 9"></polyline>
												</svg>Anexo</div>
											<div class="download">
												<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewbox="0 0 24 24">
													<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
													<polyline points="7 10 12 15 17 10"></polyline>
													<line y2="3" x2="12" y1="15" x1="12"></line>
												</svg>
											</div>
										</button>
							</div>
						{% endif %}

						{% if s.docTest != null %}
							<div class="col-md-6 mb-3">
								<label>Anexo De Teste</label><br>

								<button onclick="location.href='{{ asset('assets/') }}{{m.id}}/{{s.docTest}}'" class="download-button">
											<div class="docs">
												<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewbox="0 0 24 24">
													<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
													<polyline points="14 2 14 8 20 8"></polyline>
													<line y2="13" x2="8" y1="13" x1="16"></line>
													<line y2="17" x2="8" y1="17" x1="16"></line>
													<polyline points="10 9 9 9 8 9"></polyline>
												</svg>Anexo de Teste</div>
											<div class="download">
												<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewbox="0 0 24 24">
													<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
													<polyline points="7 10 12 15 17 10"></polyline>
													<line y2="3" x2="12" y1="15" x1="12"></line>
												</svg>
											</div>
										</button>
							</div>
						{% endif %}
					</div>
					<hr style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
					{% endif %}
				{% endfor %}
		{% endif %}
	</div>

	<form class="form-group" action="{{path('app_software_gestor_add_steps',{'id':m.id} )}}" enctype="multipart/form-data" method="post">
		<div class="row" name="test2" id="test2"></div>
		<div class="col-md-12 mb-3">
			<input id="btnSubsq" class="btn btn-info mt-2 text-white"  role="button"type="submit" value="Adicionar"/>
		</div>
	</form>

	{% if m.mangerMudancas  == person and muds.appGestor == null  %}

{% if sd|length != 0 %}
<a id="btn" class="btn btn-info mt-2 text-white" onclick="myFunction()" role="button">Adicionar nova fase</a>

	{% if iaPerm %}
{% set filePath = 'IASteps' ~ m.id %}

{% if filePath starts with 'IASteps' %}
	<a style="margin-left: 10px" class="btn btn-info mt-2 text-white" id="btnIA" href="{{path('downIA',{'id':m.id})}}" role="button">Baixar arquivo IA Steps</a>
{% endif %}
				<a style="margin-left: 10px" class="btn btn-info mt-2 text-white" data-toggle="modal" data-target="#iagenReq" role="button">Use IA para gerar fases</a>
	
				<!-- Modal LGPD -->
			<div class="modal fade" id="iagenReq" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				<form class="form-group" action="{{path('app_software_gestor_IA_fases',{'id':m.id} )}}"  onsubmit="return validateInput()" enctype="multipart/form-data" method="post">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="exampleModalLongTitle">Gerar fases</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<h5>
									Política de Confidencialidade:</h5>
								</br>
								<p>
									<ul>
										<li>

											Os utilizadores estão proibidos de divulgar qualquer informação relacionada com clientes, fornecedores ou qualquer detalhe relacionado com custos dentro desta campo. Isso inclui, mas não se limita a, nomes, endereços, informações financeiras ou qualquer outro detalhe identificativo.
										</li>
										<li>
											Os utilizadores só podem fornecer descrições gerais de ideias ou conceitos que não revelem informações específicas sobre clientes, fornecedores ou custos. Essas descrições devem ser suficientemente abstratas para evitar a identificação de qualquer entidade específica ou informação financeira.
										</li>
										<li>
											Os utilizadores são responsáveis por garantir que qualquer informação que forneçam esteja em conformidade com esta política. As violações podem resultar na remoção do conteúdo e na possível suspensão do acesso à plataforma.
										</li>
										<li>
											Os utilizadores devem usar discrição e evitar discutir clientes específicos, fornecedores ou detalhes financeiros em qualquer comunicação ou interação dentro desta plataforma.
										</li>
										<li>
											Quaisquer questões ou preocupações relacionadas com esta política devem ser dirigidas aos administradores da plataforma para esclarecimento e orientação.
										</li>
										<li>Esta política foi elaborada para proteger a confidencialidade de informações sensíveis e garantir o cumprimento de normas legais e éticas. Espera-se que os utilizadores cumpram estas diretrizes em todos os momentos.
										</li>
									</ul>
								</p>
								</br>
								<h5>IA Gerar fases:</h5>
								</br>
								<div class="row">
									<div id="div3" class="col-md-12 mb-3">
										<label for="{{m.id}}desc">Descrições gerais de fases</label>
										<textarea id="{{m.id}}desc"  class="form-control"  placeholder="descrições gerais de ideias....." name="{{m.id}}desc" rows="4" cols="50"></textarea>
									</div>
									<div id="div3" class="col-md-12 mb-3">
										<input type="checkbox" id="c5" name="c5" value="and translate to english">
										<label for="c5">Traduzir para o inglês</label>
									</div>
								</div>
							</div>
			
							<div class="modal-footer">
								<button type="button" class="btn btn-info mt-2 text-white btn-secondary" data-dismiss="modal">Cancelar</button>
								<button type="submit"   id="btnIA" class="btn btn-info mt-2 text-white btn-secondary" class="btn btn-info mt-2 text-white">
										Enviar
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
    <script>
  				document.addEventListener("DOMContentLoaded", function() {
  				  var btn = document.getElementById("btnIA");
  				  var timeout = Math.floor(Math.random() * (60000 - 30000)) + 30000; // Random time between 30s and 1min
  				  btn.disabled = true;
  				  setTimeout(function() {
  				    btn.disabled = false;
  				  }, timeout);
  				});
        function validateInput() {
            var input = document.getElementById("{{m.id}}desc").value;
            var strings = input.split(" ");
            if (strings.length < 10) {
                alert("A entrada deve conter mais de 10 palavras.");
            }
        }

		
    </script>
{% endif %}
{% endif %}

	{% endif %}
	{% if step|length != 0   and imp == true and haveArq == false %}

		{{ form_start(formApp, {'attr':{'class':'form-group'}}) }}
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(formApp.appGestor) }}
				{{ form_widget(formApp.appGestor,{'attr':{'class':'form-control'}}) }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-3">
				{{ form_label(formApp.commentGestor) }}
				{{ form_widget(formApp.commentGestor,{'attr':{'class':'form-control'}}) }}
			</div>
		</div>

		{% if m.appGest == null  and imp == true %}

			{% if m.mangerMudancas == person %}
				<input id="btnSubsq" class="btn btn-info mt-2 text-white" type="submit" value="Salvar"/>
			{% endif %}
		{% endif %}
		{{ form_end(formApp) }}


	{% endif %}
	{% if m.implemented !=  null %}
		{% if m.implemented == 1 or m.implemented == 2 and m.dateOfImp != null %}
			<div class="row">
				<div class="col-md-12 mb-3">
					<label for="mudancasgestor_to_app_effictiveStartDate">Data da implementação</label>
					<input type="text" class="form-control" value="{{m.dateOfImp}}">
				</div>
			</div>
		{% endif %}
		{% if m.implemented == 1 or m.implemented == 2  and m.impDesc != null %}
			<div class="row">
				<div class="col-md-12 mb-3">
					<label for="mudancasgestor_to_app_effictiveStartDate">Evidencia da implementação</label>
					<textarea type="text" class="form-control">{{m.impDesc}}</textarea>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 mb-3">
					<img class="center card-img-top" src="{{ asset('assets/')}}{{m.id}}/{{m.photo}}" alt="" style="padding-top: 15px; width : 500px">
				</div>
				{% if m.pdf != null %}
					<div class="col-md-12 mb-3">
						<a class="btn btn-info mt-2 text-white" href="{{path('filed',{'id':m.id} )}}">
							⇬ Fazer download do arquivo
							{{m.namePdf}}
						</a>
					</div>
				{% endif %}
			</div>
		{% endif %}
	{% else %}
		{% if m.mangerMudancas == person and m.appGest != null   %}
			<p class="btn btn-info mt-2 text-white" data-toggle="modal" data-target="#imp">Implementação</p>

		{% endif %}

		<div class="modal fade" id="imp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2>Implementação</h2<buttontype="button"class="close"data-dismiss="modal"aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

				</div>
				<div class="modal-body">
					{{ form_start(formImp, {'attr':{'class':'form-group'}}) }}
					<div class="row" style="margin-right: 12px; margin-left: 5px;">
						<div class="col-md-12 mb-3">
							{{ form_label(formImp.implemented) }}
							{{ form_widget(formImp.implemented,{'attr':{'class':'form-control'}}) }}</div>
						<div class="col-md-12 mb-3">
							{{ form_label(formImp.impDesc) }}
							{{ form_widget(formImp.impDesc,{'attr':{'class':'form-control'}}) }}
						</div>
						<div class="col-md-12 mb-3">
							{{ form_label(formImp.photo) }}
							{{ form_widget(formImp.photo,{'attr':{'class':'', 'rows': '4'}}) }}
						</div>
						<div class="col-md-12 mb-3">
							{{ form_label(formImp.pdf) }}
							{{ form_widget(formImp.pdf,{'attr':{'class':'', 'rows': '4'}}) }}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-info mt-2 text-white btn-secondary" data-dismiss="modal">Cancelar</button>

							<input class="btn btn-info mt-2 text-white" value="Validar" type="submit"/>


						</div>
						{{ form_end(formImp) }}
					</div>
				</div>

				<script>
					const textarea = document.getElementById("textarea");
const hiddenInput = document.getElementById("hiddenInput");
const hiddenInput2 = document.getElementById("hiddenInput2");

textarea.addEventListener("input", function () {
hiddenInput.value = textarea.value;
hiddenInput2.value = textarea.value;
});
				</script>

			</div>
		</div>
	{% endif %}
	{% if m.implemented != null %}
		{% if m.implemented == 1 and  m.done == 'Feito' %}
			<p class="btn btn-info mt-2 text-white">Mudança Implementada</p>
			<p>
			{% elseif  m.implemented == 2 and m.done == 'Feito' %}
				<p class="btn btn-info mt-2 text-white" data-toggle="modal" data-target="#imp2">Mudança não implementada</p>
				<p>
					<div class="modal fade" id="imp2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="row" style="margin-right: 12px; margin-left: 5px;">
										<div class="col-md-12 mb-3">
											<h6 class="mb-1">Número da mudança:
												{{m.id}}
											</h6>
										</div>
										<div class="col-md-12 mb-3">
											<h6 class="mb-1">Nome da mudança:
												{{m.nomeMudanca}}</h5>
										</div>

									</div>

								</div>
							</div>
						</div>
						{% elseif m.implemented != 1 and  m.implemented != 2 and m.done != 'Feito' %}

					{% endif %}

				{% endif %}
				<script type="text/babel">
					const dropContainer = document.getElementById("dropcontainer")
												const fileInput = document.getElementById("mudancas_gestor_software_docs")
												
												dropContainer.addEventListener("dragover", (e) => {
												  // prevent default to allow drop
												  e.preventDefault()
												}, false)
												
												dropContainer.addEventListener("dragenter", () => {
												  dropContainer.classList.add("drag-active")
												})
												
												dropContainer.addEventListener("dragleave", () => {
												  dropContainer.classList.remove("drag-active")
												})
												
												dropContainer.addEventListener("drop", (e) => {
												  e.preventDefault()
												  dropContainer.classList.remove("drag-active")
												  fileInput.files = e.dataTransfer.files
												})

				</script>
				<script>

					$(document).ready(function () {
$('#mudancas_software_devs_developers').chosen({});
$('#mudancas_software_testers_testers').chosen({});
$('#mudancas_software_testers_ti_testersti').chosen({});

document.getElementById("mudancas_software_devs_developers_chosen").style.width = "400px";
document.getElementById("mudancas_software_testers_testers_chosen").style.width = "400px";
document.getElementById("mudancas_software_testers_ti_testersti_chosen").style.width = "400px";
});


var i = 0;
var array = ["OK", "FALHA"];
var i = 0;


if (i === 0) {
document.getElementById("btnSubsq").style.display = 'none';
}

function func2(id, id2) {
var e = document.getElementById(id);
var value = e.options[e.selectedIndex].value;
var text = e.options[e.selectedIndex].text;{% for item in sd %}if ("{{ item.id }}" === value) {
document.getElementById(id2).value = "{{ item.id }}";
}
{% endfor %}
}


function myFunction() {
i++;


const test = document.createElement("div");
test.setAttribute('id', i + 'test');
test.setAttribute('class', 'row col-md-12 mb-3 d-flex justify-content-between');
document.getElementById('test2').appendChild(test);


const selectArquivo = document.createElement("div");
selectArquivo.setAttribute('id', i + 'selectArquivo');
selectArquivo.setAttribute('class', 'form-control');
selectArquivo.setAttribute('class', 'col-md-3 mb-3');
document.getElementById(i + 'test').appendChild(selectArquivo);


const labelselectArquivo = document.createElement('label');
labelselectArquivo.setAttribute('for', i + 'a');
labelselectArquivo.innerHTML = "Requisito";
document.getElementById(i + 'selectArquivo').appendChild(labelselectArquivo);

const select = document.createElement("select");
select.setAttribute('id', i + 'a');
select.setAttribute('onchange', 'func2("' + i + 'a","' + i + 'b")');
select.setAttribute('name', i + 'a');
select.setAttribute('class', 'form-control');
document.getElementById(i + 'selectArquivo').appendChild(select);{% for items in sd %}var node4Op1 = document.createElement("option");
node4Op1.setAttribute('selected', 'selected');
node4Op1.setAttribute('value', "{{ items.id }}");
node4Op1.innerHTML = "{{ items.step }}";
document.getElementById(i + 'a').appendChild(node4Op1);{% endfor %}const div = document.createElement("div");
div.setAttribute('id', i + 'div');
div.setAttribute('class', 'col-md-3 mb-3');
document.getElementById(i + 'test').appendChild(div);
const label = document.createElement('label');
label.setAttribute('for', i);
label.innerHTML = "Fase";
document.getElementById(i + 'div').appendChild(label);
// 'class':'form-control'
const node = document.createElement("input");
node.setAttribute('class', 'form-control');
node.setAttribute('id', i);
node.setAttribute('name', i);
document.getElementById(i + 'div').appendChild(node);


const div2 = document.createElement("div");
div2.setAttribute('id', i + 'div2');
div2.setAttribute('class', 'col-md-6 mb-3');
document.getElementById(i + 'test').appendChild(div2);

const label2 = document.createElement('label');
label2.setAttribute('for', i + 'test');
label2.innerHTML = "Data de entrega do teste TI";
document.getElementById(i + 'div2').appendChild(label2);

const node2 = document.createElement("input");
node2.setAttribute('id', i + 'date');
node2.setAttribute('name', i + 'date');
node2.setAttribute('type', 'date');
node2.setAttribute('lang', 'pt-BR');
node2.setAttribute('class', 'date form-control');
document.getElementById(i + 'div2').appendChild(node2);

const div3 = document.createElement("div");
div3.setAttribute('id', i + 'div3');
div3.setAttribute('class', 'col-md-12 mb-3');
document.getElementById(i + 'test').appendChild(div3);

const label3 = document.createElement('label');
label3.setAttribute('for', i + 'desc');
label3.innerHTML = "Comentário";
document.getElementById(i + 'div3').appendChild(label3);

const br = document.createElement('br');
document.getElementById(i + 'div3').appendChild(br);

const node3 = document.createElement("input");
node3.setAttribute('id', i + 'desc');
node3.setAttribute('name', i + 'desc');
node3.setAttribute('class', 'form-control');
document.getElementById(i + 'div3').appendChild(node3);

const div4 = document.createElement("div");
div4.setAttribute('id', i + 'div4');
div4.setAttribute('class', 'col-md-6 mb-3');
document.getElementById(i + 'test').appendChild(div4);

const label4 = document.createElement('label');
label4.setAttribute('for', i + 'file');
label4.innerHTML = "Anexo";
document.getElementById(i + 'div4').appendChild(label4);


const node4 = document.createElement("input");
node4.setAttribute('id', i + 'file');
node4.setAttribute('name', i + 'file');
node4.setAttribute('type', 'file');
node4.setAttribute('style', 'width:100%');
document.getElementById(i + 'div4').appendChild(node4);

const div5 = document.createElement("div");
div5.setAttribute('id', i + 'div5');
div5.setAttribute('class', 'col-md-6 mb-3');
document.getElementById(i + 'test').appendChild(div5);

const label5 = document.createElement('label');
label5.setAttribute('for', i + 'files');
label5.innerHTML = "Anexo do Teste";
document.getElementById(i + 'div5').appendChild(label5);

const node5 = document.createElement("input");
node5.setAttribute('id', i + 'files');
node5.setAttribute('name', i + 'files');
node5.setAttribute('type', 'file');
node5.setAttribute('style', 'width:100%');
document.getElementById(i + 'div5').appendChild(node5);

if (i === 1) {
document.getElementById("btnSubsq").style.display = 'inline';
}

}
				</script>

				<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>

				<script>
					$(".date").datepicker({format: "dd-mm-yyyy", language: "pt-BR", zIndexOffset: 999999});
				</script>


				<script>
					var x = document.getElementById("arq");
x.style.display = "none";

function visArq() {
if (x.style.display === "none") {
x.style.display = "block";
} else {
x.style.display = "none";
}
}
				</script>
			{% endblock %}
