{% extends 'base.html.twig' %}
{% block title %}Gestor teste{% endblock %}

{% block body %}
    {{ include('flowBoard.html.twig') }}

	<style>
					.download-button {
			position: relative;
			border-width: 0;
			color: white;
			font-size: 15px;
			font-weight: 600;
			border-radius: 4px;
			z-index: 1;
		}

		.download-button .docs {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			min-height: 40px;
			padding: 0 10px;
			border-radius: 4px;
			z-index: 1;
			background-color: #242a35;
			border: solid 1px #e8e8e82d;
			transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
		}

		.download-button:hover {
			box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
		}

		.download {
		position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 20%;
    /* margin: revert; */
    margin-left: 80%;
    z-index: -1;
    border-radius: 4px;
    transform: translateX(0%);
    background-color: #01e056;
    border: solid -7px #01e0572d;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
		}


		.download-button:hover .download {
			transform: translateX(100%)
		}

		.download svg polyline,
		.download svg line {
			animation: docs 1s infinite;
		}

		@keyframes docs {
			0% {
				transform: translateY(0%);
			}

			50% {
				transform: translateY(-15%);
			}

			100% {
				transform: translateY(0%);
			}
		}

	</style>
    <div class="row" id="arq">
<form action="{{path('app_software_gestor_test_approve',{'id':m.id} )}}" style="width: 100% " enctype="multipart/form-data" method="post">
		{% if sImp is null %}
			{% else %}
				{% for s in sImp %}
                    <div id="{{s.id}}" class="row col-md-12 mb-3 d-flex justify-content-between">
                        <div id="div" class="col-md-3 mb-3">
                            <label for="1">Arquivos</label>
                            <input class="form-control" id="{{s.id}}ariquivo" name="{{s.id}}ariquivo" value="{{s.ariquivo.step}}" type="text" readonly/>
                        </div>
                        <div id="div3" class="col-md-6 mb-3">
                            <label for="{{s.id}}desc">Título</label>
	                    		<input id="{{s.id}}title" class="form-control" name="{{s.id}}title" value="{{s.title}}" type="text" readonly/>
                        </div>
						
                        <div id="div2" class="col-md-3 mb-3">
                            <label for="{{s.id}}date">Data de criação</label><br>
	                    		<input id="{{s.id}}date" name="{{s.id}}date" value="{{s.dateCreation|date('d-m-Y')}}"  class="form-control" style="width: 100%" type="text" readonly/>
                        </div>
                        <div id="div3" class="col-md-12 mb-3">
                            <label for="{{s.id}}desc">Comentário</label>
	                    		<input id="{{s.id}}desc" class="form-control" name="{{s.id}}desc" value="{{s.comments}}" type="text" readonly/>
                        </div>


						{% if s.doc != null %}
							<div class="col-md-3 mb-3">
								<label>Anexo de Fase</label><br>

									<button onclick="location.href='{{ asset('assets/') }}{{m.id}}/{{s.doc}}'" class="download-button">
										<div class="docs">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewbox="0 0 24 24">
												<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
												<polyline points="14 2 14 8 20 8"></polyline>
												<line y2="13" x2="8" y1="13" x1="16"></line>
												<line y2="17" x2="8" y1="17" x1="16"></line>
												<polyline points="10 9 9 9 8 9"></polyline>
											</svg>Anexo de Fase</div>
										<div class="download">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewbox="0 0 24 24">
												<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
												<polyline points="7 10 12 15 17 10"></polyline>
												<line y2="3" x2="12" y1="15" x1="12"></line>
											</svg>
										</div>
									</button>
							</div>
						{% endif %}
						{% if s.docTest != null %}
							<div class="col-md-3 mb-3">
								<label>Anexo Teste</label><br>
								<button onclick="location.href='{{ asset('assets/') }}{{m.id}}/{{s.docTest}}'" class="download-button">
										<div class="docs">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewbox="0 0 24 24">
												<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
												<polyline points="14 2 14 8 20 8"></polyline>
												<line y2="13" x2="8" y1="13" x1="16"></line>
												<line y2="17" x2="8" y1="17" x1="16"></line>
												<polyline points="10 9 9 9 8 9"></polyline>
											</svg>Anexo de Fase de Test</div>
										<div class="download">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewbox="0 0 24 24">
												<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
												<polyline points="7 10 12 15 17 10"></polyline>
												<line y2="3" x2="12" y1="15" x1="12"></line>
											</svg>
										</div>
									</button>
							</div>
						{% endif %}

						{% if s.docClient != null %}
							<div class="col-md-3 mb-3">
								<label>Anexo que Cliente adicionou por Fase:</label><br>
      							
								<button onclick="location.href='{{ asset('assets/') }}{{m.id}}/{{s.docClient}}'" class="download-button">
										<div class="docs">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewbox="0 0 24 24">
												<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
												<polyline points="14 2 14 8 20 8"></polyline>
												<line y2="13" x2="8" y1="13" x1="16"></line>
												<line y2="17" x2="8" y1="17" x1="16"></line>
												<polyline points="10 9 9 9 8 9"></polyline>
											</svg>Anexo do Cliente </div>
										<div class="download">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewbox="0 0 24 24">
												<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
												<polyline points="7 10 12 15 17 10"></polyline>
												<line y2="3" x2="12" y1="15" x1="12"></line>
											</svg>
										</div>
									</button>
							</div>
						{% endif %}

						{% if s.docGestor != null %}
							<div class="col-md-3 mb-3">
								<label>Anexo que Gestor adicionou por Fase:</label><br>
      							

								<button onclick="location.href='{{ asset('assets/') }}{{m.id}}/{{s.docGestor}}'" class="download-button">
										<div class="docs">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewbox="0 0 24 24">
												<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
												<polyline points="14 2 14 8 20 8"></polyline>
												<line y2="13" x2="8" y1="13" x1="16"></line>
												<line y2="17" x2="8" y1="17" x1="16"></line>
												<polyline points="10 9 9 9 8 9"></polyline>
											</svg>Anexo do Gestor  </div>
										<div class="download">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewbox="0 0 24 24">
												<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
												<polyline points="7 10 12 15 17 10"></polyline>
												<line y2="3" x2="12" y1="15" x1="12"></line>
											</svg>
										</div>
									</button>
							</div>
						{% endif %}
						
							<div id="div3" class="col-md-6 mb-3">
								<label for="{{s.id}}de">Comentário</label>
								<input id="{{s.id}}de" class="form-control" name="{{s.id}}de" value="" type="text" />
							</div>
						<div id="div6" class="col-md-6 mb-3">
							<label for="{{s.id}}file">Implementação</label>
							<select  style="width:100% ;    height: 65%;"  id="{{s.id}}stat" name="{{s.id}}stat" class="form-control" >
									<option selected value="">Selecione a opção</option>
									<option value="não implementado">Não implementado</option>
									<option value="implementado">Implementado</option>
							</select>
						</div>

							<div id="1div5" class="col-md-6 mb-3" bis_skin_checked="1">
								<label for="{{s.id}}files">Anexo Gestor</label>
								<input id="{{s.id}}files" name="{{s.id}}files" type="file" style="width:100%"></div>
							</div>
						
                    </div>
						<hr style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
				{% endfor %}
		{% endif %}


    <div class="row" id="arq">
<form action="{{path('app_software_gestor_test_approve',{'id':m.id} )}}" style="width: 100% " enctype="multipart/form-data" method="post">
		{% if step is null %}
			{% else %}
				{% for s in step %}
                    <div id="{{s.id}}" class="row col-md-12 mb-3 d-flex justify-content-between">
                        <div id="div" class="col-md-3 mb-3">
                            <label for="1">Arquivos</label>
                            <input class="form-control" id="{{s.id}}ariquivo" name="{{s.id}}ariquivo" value="{{s.ariquivo.step}}" type="text" readonly/>
                        </div>
                        <div id="div3" class="col-md-6 mb-3">
                            <label for="{{s.id}}desc">Título</label>
	                    		<input id="{{s.id}}title" class="form-control" name="{{s.id}}title" value="{{s.title}}" type="text" readonly/>
                        </div>
						
                        <div id="div2" class="col-md-3 mb-3">
                            <label for="{{s.id}}date">Data de criação</label><br>
	                    		<input id="{{s.id}}date" name="{{s.id}}date" value="{{s.dateCreation|date('d-m-Y')}}"  class="form-control" style="width: 100%" type="text" readonly/>
                        </div>
                        <div id="div3" class="col-md-12 mb-3">
                            <label for="{{s.id}}desc">Comentário</label>
	                    		<input id="{{s.id}}desc" class="form-control" name="{{s.id}}desc" value="{{s.comments}}" type="text" readonly/>
                        </div>



						{% if s.doc != null %}
							<div class="col-md-3 mb-3">
								<label>Anexo de Fase</label><br>

									<button onclick="location.href='{{ asset('assets/') }}{{m.id}}/{{s.doc}}'" class="download-button">
										<div class="docs">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewbox="0 0 24 24">
												<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
												<polyline points="14 2 14 8 20 8"></polyline>
												<line y2="13" x2="8" y1="13" x1="16"></line>
												<line y2="17" x2="8" y1="17" x1="16"></line>
												<polyline points="10 9 9 9 8 9"></polyline>
											</svg>Anexo de Fase</div>
										<div class="download">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewbox="0 0 24 24">
												<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
												<polyline points="7 10 12 15 17 10"></polyline>
												<line y2="3" x2="12" y1="15" x1="12"></line>
											</svg>
										</div>
									</button>
							</div>
						{% endif %}
						{% if s.docTest != null %}
							<div class="col-md-3 mb-3">
								<label>Anexo Teste</label><br>
								<button onclick="location.href='{{ asset('assets/') }}{{m.id}}/{{s.docTest}}'" class="download-button">
										<div class="docs">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewbox="0 0 24 24">
												<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
												<polyline points="14 2 14 8 20 8"></polyline>
												<line y2="13" x2="8" y1="13" x1="16"></line>
												<line y2="17" x2="8" y1="17" x1="16"></line>
												<polyline points="10 9 9 9 8 9"></polyline>
											</svg>Anexo de Fase de Test</div>
										<div class="download">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewbox="0 0 24 24">
												<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
												<polyline points="7 10 12 15 17 10"></polyline>
												<line y2="3" x2="12" y1="15" x1="12"></line>
											</svg>
										</div>
									</button>
							</div>
						{% endif %}

						{% if s.docClient != null %}
							<div class="col-md-3 mb-3">
								<label>Anexo que Cliente adicionou por Fase:</label><br>
      							
								<button onclick="location.href='{{ asset('assets/') }}{{m.id}}/{{s.docClient}}'" class="download-button">
										<div class="docs">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewbox="0 0 24 24">
												<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
												<polyline points="14 2 14 8 20 8"></polyline>
												<line y2="13" x2="8" y1="13" x1="16"></line>
												<line y2="17" x2="8" y1="17" x1="16"></line>
												<polyline points="10 9 9 9 8 9"></polyline>
											</svg>Anexo do Cliente </div>
										<div class="download">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewbox="0 0 24 24">
												<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
												<polyline points="7 10 12 15 17 10"></polyline>
												<line y2="3" x2="12" y1="15" x1="12"></line>
											</svg>
										</div>
									</button>
							</div>
						{% endif %}

						{% if s.docGestor != null %}
							<div class="col-md-3 mb-3">
								<label>Anexo que Gestor adicionou por Fase:</label><br>
      							

								<button onclick="location.href='{{ asset('assets/') }}{{m.id}}/{{s.docGestor}}'" class="download-button">
										<div class="docs">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewbox="0 0 24 24">
												<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
												<polyline points="14 2 14 8 20 8"></polyline>
												<line y2="13" x2="8" y1="13" x1="16"></line>
												<line y2="17" x2="8" y1="17" x1="16"></line>
												<polyline points="10 9 9 9 8 9"></polyline>
											</svg>Anexo do Gestor  </div>
										<div class="download">
											<svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewbox="0 0 24 24">
												<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
												<polyline points="7 10 12 15 17 10"></polyline>
												<line y2="3" x2="12" y1="15" x1="12"></line>
											</svg>
										</div>
									</button>
							</div>
						{% endif %}
						
						
							<div id="div3" class="col-md-6 mb-3">
								<label for="{{s.id}}de">Comentário</label>
								<input id="{{s.id}}de" class="form-control" name="{{s.id}}de" value="" type="text" />
							</div>
						<div id="div6" class="col-md-6 mb-3">
							<label for="{{s.id}}file">Aprovação</label>
							<select  style="width:100% ;    height: 65%;"  id="{{s.id}}stat" name="{{s.id}}stat" class="form-control" >
									<option selected value="">Selecione a opção</option>
									<option value="Approvar">Approvar</option>
									<option value="Reprovar">Reprovar</option>
									<option value="Pedido de mudança">Pedido de mudança</option>
							</select>
						</div>

							<div id="1div5" class="col-md-6 mb-3" bis_skin_checked="1">
								<label for="{{s.id}}files">Anexo Gestor</label>
								<input id="{{s.id}}files" name="{{s.id}}files" type="file" style="width:100%"></div>
							</div>
						
                    </div>
						<hr style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
				{% endfor %}
		{% endif %}
        
	{% if m.mangerMudancas  == person %}
					<div class="col-md-12 mb-3">
						<input id="btnSubsq" class="btn btn-info mt-2 text-white" type="submit" value="Salvar"/>
					</div>
		{% endif %}
				</form>
	</div>
{% endblock %}
